/* ==========================================================================
	Buttons
============================================================================= */

@mixin button() {
	cursor: pointer;
}

@mixin button_layout($layout: left) {
	[class$='link_inner'] {
	}

	[class$='label'] {
	}

	[class$='icon'] {
	}

	.icon {
		display: inline;
	}

	@if $layout == center {
		[class$='link_inner'] {
			text-align: center;
		}
	}
}

@mixin button_text() {
	@include button;
}

@mixin button_fill($theme: 'gray') {
	@include button;

	padding: 20px 30px;
	transition: background-color $base_speed, color $base_speed;

	@if ($theme == 'gray') {
		background-color: $gray_10;
		color: $black;
	} @else if ($theme == 'blue') {
		background-color: blue;
		color: $white;
	}

	@media print {
		border: 1px solid;
	}

	@include hover {
		@if ($theme == 'gray') {
			background-color: $black;
			color: $gray_10;
		} @else if ($theme == 'blue') {
			background-color: $black;
		}
	}

	[class$='label'] {
		@include h5;
	}

	[class$='icon'] {
	}
}

@mixin button_inline($layout: true) {
	@include button_layout($layout);

	display: inline-block;
}

@mixin button_block($layout: true) {
	@include button_layout($layout);

	display: block;
}

@mixin button_mixed_block($layout: left, $query: $min_sm) {
	@include button_block;
	@include button_layout($layout);

	@media #{$query} {
		display: inline-block;
	}
}
