/* ==========================================================================
	Colors
============================================================================= */

$black: #222;
$white: #fff;
$gray_light: #fcfcfc;
$red: #a70034;
$navy: #021934;

$theme_colors: (
	('black', $black)
);

$gray_05: #f2f2f2;
$gray_10: #eaeaea;
$gray_20: #cccccc;
$gray_30: #b2b2b2;
$gray_40: #999999;
$gray_50: #808080;
$gray_60: #666666;
$gray_70: #4d4d4d;
$gray_80: #333333;
$gray_90: #222222;