/* ==========================================================================
	Transitions
============================================================================= */

$base_speed: 0.25s;
$base_timing: ease;
$base_delay: 0.05s;

/* ==========================================================================
	Media Queries
============================================================================= */

$mq_min_ht: 800;
$mq_min_xs: 320;
$mq_min_sm: 500;
$mq_min_md: 740;
$mq_min_lg: 980;
$mq_min_xl: 1220;
$mq_min_xxl: 1640;

$min_xs: '(min-width:' + ($mq_min_xs * 1px) + ')';
$min_sm: '(min-width:' + ($mq_min_sm * 1px) + ')';
$min_md: '(min-width:' + ($mq_min_md * 1px) + ')';
$min_lg: '(min-width:' + ($mq_min_lg * 1px) + ')';
$min_xl: '(min-width:' + ($mq_min_xl * 1px) + ')';
$min_xxl: '(min-width:' + ($mq_min_xxl * 1px) + ')';

$max_xs: '(max-width:' + ($mq_min_xs - 1px) + ')';
$max_sm: '(max-width:' + ($mq_min_sm - 1px) + ')';
$max_md: '(max-width:' + ($mq_min_md - 1px) + ')';
$max_lg: '(max-width:' + ($mq_min_lg - 1px) + ')';
$max_xl: '(max-width:' + ($mq_min_xl - 1px) + ')';
$max_xxl: '(max-width:' + ($mq_min_xxl - 1px) + ')';

$and_max_sm: 'and (max-width:' + ($mq_min_sm - 1px) + ')';
$and_max_md: 'and (max-width:' + ($mq_min_md - 1px) + ')';
$and_max_lg: 'and (max-width:' + ($mq_min_lg - 1px) + ')';
$and_max_xl: 'and (max-width:' + ($mq_min_xl - 1px) + ')';
$and_max_xxl: 'and (max-width:' + ($mq_min_xxl - 1px) + ')';

$reduce: '(prefers-reduced-motion: reduce)';

/* ==========================================================================
	Spacing
============================================================================= */

$margin_sm: 40px;
$margin_md: 50px;
$margin_lg: 60px;
$margin_xl: 80px;

/* ==========================================================================
	Ratios
============================================================================= */

$ultra_wide: #{100 / 43};
$wide: #{16 / 9};
$full: #{4 / 3};
$square: 1;
$classic: #{3 / 2};
$portrait_full: #{3 / 4};
$portrait_classic: #{2 / 3};

/* ==========================================================================
	Grid
============================================================================= */

$fs_grid_gap_decimal: (
	0.02045 * 2
);
$fs_grid_gap: (
	$fs_grid_gap_decimal * 100%
);
$fs_grid_margin: calc((100vw - (var(--fs-row-width) * (1 - $fs_grid_gap_decimal))) / 2);