{#
	{% include '@partial-page-header' with {
		page: page
	} %}
#}
<div class="page_header">
	<div class="page_header_inner">
		{% if page.breadcrumbNav != false  %}
			<div class="page_breadcrumb">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="page_breadcrumb_inner">
							{% render '@navigation-breadcrumb' with {
								page: page,
								modifier: '',
								links: page.breadcrumbNav,
								icon_home: 'home',
								icon_divider: 'angle_right',
								icon_end: 'angle_down'
							} %}
						</div>
					</div>
				</div>
			</div>
		{% endif %}

		{% if page.title or page.description %}
			<div class="page_intro">
				<div class="fs-row">
					<div class="fs-cell fs-lg-10 fs-xl-9">
						<div class="page_intro_inner">
							{% if page.title %}
								<h1 class="page_title" id="page_title" tabindex="-1">{{ page.title }}</h1>
							{% endif %}
							{% if page.description %}
								<p class="page_description">{{ page.description }}</p>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% endif %}
		{% if ('layout_detail' not in page.classes and page.image) or ('layout_detail' not in page.classes and page.video) %}
			<div class="page_header_media{% if page.video %} has_video{% endif %}">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="page_header_media_inner">
							{% if page.image %}
								<figure class="page_header_figure">
									{% include '@partial-image' with {
										class: 'page_header',
										alt: '',
										image: page.image,
										loading: 'eager',
										sources: [
											img.wide.xlrg,
											img.wide.lrg,
											img.wide.med,
											img.wide.sml,
											img.wide.xsml,
											img.wide.xxsml
										]
									} %}
								</figure>
							{% endif %}
							{% if page.video %}
								<div class="page_header_video">
									{% include "@partial-lazy-video" with {
										class: 'page_header_bg',
										id: page.video.id,
										type: page.video.type,
										title: page.video.title,
									} %}
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% endif %}
		{% if page.subNav != false  %}
			<div class="page_nav">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="page_nav_inner">
							<a class="skip_link skip_subnav" id="skip_sub_link" href="#page_content">Skip Sub Navigation</a>
							<div class="page_nav_flat">
								{% include '@navigation-basic' with {
									class: 'sub',
									modifier: '',
									title: page.title,
									active_index: '',
									links: page.subNav
								} %}
							</div>
							<div class="page_nav_toggle">
								{% include '@navigation-toggle' with {
									class: 'sub',
									modifier: '',
									title: page.title|lower,
									links: page.subNav,
									icon: '',
									child_icon: '',
									toggle: {
										title: 'Explore This Section',
										icon: 'plus',
										title_active: 'Close',
										icon_active: 'minus',
										swap_target: '.js-sub-nav-group',
										swap_link: 'audience'
									}
								} %}
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	</div>
</div>