<!-- Page Content -->
<div class="page_content">
	<!-- Full Width Callouts -->
	<div class="full_width_callouts">
		{% render '@component-spotlight' %}

		{% render '@component-text-block' %}

		{% render '@component-text-image-block' %}
	</div>
	<!-- END: Full Width Callouts -->
</div>
