/* ==========================================================================
	Breadcrumb Navigation
============================================================================= */

.breadcrumb {
}

.breadcrumb_inner {
}

.breadcrumb_nav {
	@media print {
		display: none !important;
	}
}

.breadcrumb_nav_header {
	@include visually_hide;
}

.breadcrumb_nav_title {
}

/* Breadcrumb Links
============================================================================= */

.breadcrumb_list {
	@include label_text;

	align-items: center;
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 0;
	white-space: nowrap;
}

.breadcrumb_item {
	align-items: center;
	display: flex;

	&:not(:nth-last-of-type(-n + 2)) {
		@media #{$max_lg} {
			display: none;
		}
	}
}

.breadcrumb_pill {
}

.breadcrumb_pill_link {
	text-decoration: underline;
	transition: color $base_speed;

	@include hover {
		color: $black;
	}
}

.breadcrumb_pill_inner {
	align-items: center;
	display: flex;
}

.breadcrumb_pill_icon {
	position: relative;
	top: -2px;

	margin-right: 4px;
}

.breadcrumb_pill_label {
	.breadcrumb_item:last-child & {
		@include visually_hide;
	}
}

.breadcrumb_divider {
	margin: 0 4px;

	.breadcrumb_item:nth-last-child(2) & {
		display: none;
	}
}

.breadcrumb_end {
	margin-left: 4px;
}
