/* ==========================================================================
	Utility Navigation
============================================================================= */

.utility_nav {
}

.utility_nav_header {
}

.utility_nav_title {
	@include visually_hide;
}

.utility_nav_list {
	@include h6;

	@media #{$min_lg} {
		display: flex;
		gap: 30px;
	}
}

.utility_nav_item {
}

.utility_nav_link {
	display: block;
	padding-block: 10px;
	transition: color $base_speed;
	text-decoration: underline;

	@include hover {
		color: $black;
	}
}

.utility_nav_link_icon {
}

.utility_nav_link_label {
}
