{% include '@partial-page-header' with {
	page: page
} %}

<div class="full_width_callouts" id="page_content" tabindex="-1" aria-labelledby="page_title">
	{% render '@partial-event-feature' %}

	{% include '@partial-filter' with {
		label: '',
		active: '',
		action_category: '#',
		action_search: '#',
		tools: [
			{
				label: 'Category',
				options: [
					{
						label: 'All Categories'
					},
					{
						label: 'Category One'
					},
					{
						label: 'Another Category'
					}
				]
			},
			{
				label: 'Type',
				options: [
					{
						label: 'All Types'
					},
					{
						label: 'Type One'
					},
					{
						label: 'Another Type'
					}
				]
			}
		],
		search_placeholder: 'Search by keyword',
		results: '',
		category: ''
	} %}

	{% render '@partial-event-list' %}
</div>