/* ==========================================================================
	Department List
============================================================================= */

.department_list {
	@include margined_xl;
}

.department_list_inner {
}

.department_list_items {
}

.department_list_row {
	border-top: 1px solid;
	padding: 30px 0;
}

.department_list_item {
	display: grid;
}

.department_list_item_header {
	align-items: center;
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr max-content;
	margin-bottom: 30px;
}

.department_list_item_info {
}

.department_list_item_name {
	@include h3;

	margin-block: 0;
}

.department_list_item_name_link {
	text-decoration: underline;
	transition: color $base_speed;

	@include hover {
		color: $black;
	}
}

.department_list_item_title {
	@include body_text;
}

.department_list_item_figure {
	@include responsive_image;

	width: 60px;
}

.department_list_item_image {
	border-radius: 50%;
}

.department_list_item_body {
}

.department_list_item_details {
	display: grid;
	gap: 30px $fs_grid_gap;

	@media #{$min_sm} {
		--columns: 2;

		grid-template-columns: repeat(var(--columns), 1fr);
	}

	@media #{$min_md} {
		--columns: 3;
	}

	@media #{$min_xl} {
		--columns: 4;
	}
}

.department_list_item_detail {
	align-content: start;
	display: grid;
	gap: 20px;
	grid-template-rows: max-content;
}

.department_list_item_detail_label {
	@include h6;
}

.department_list_item_detail_item {
}

.department_list_item_detail_item_header {
	align-items: center;
	display: flex;
	gap: 10px;
	margin-bottom: 4px;
}

.department_list_item_detail_icon {
}

.department_list_item_detail_hint {
	@include label_text;
}

.department_list_item_detail_info {
	@include small_text;

	display: block;
}

.department_list_item_detail_info_link {
	text-decoration: underline;
	transition: color $base_speed;

	@include hover {
		color: $black;
	}

	&:after {
		@media print {
			content: normal;
		}
	}
}

.department_list_item_detail_info_label {
}

.department_list_pagination {
	@include margined_lg_top;
}
