/* ==========================================================================
	Event Actions
============================================================================= */

.event_actions {
}

.event_actions_header {
	@include visually_hide;
}

.event_actions_title {
}

.event_actions_title_label {
}

.event_actions_body {
}

.event_actions_list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.event_action {
	@media #{$min_sm} {
		display: inline-block;
	}
}

.event_action_link {
	@include button_fill('blue');

	display: block;
	text-decoration: underline;
}

.event_action_link_inner {
}

.event_action_link_label {
}
