/* ==========================================================================
	Event Feature
============================================================================= */

.event_feature {
	@include margined_xl;
}

.event_feature_inner {
}

.event_feature_item {
	display: grid;
	gap: 20px;

	@media #{$min_md $and_max_lg} {
		display: block;
	}

	@media #{$min_lg} {
		gap: $fs_grid_gap;
		grid-template-columns: 1fr make_column(5);
	}

	@media #{$min_xl} {
		align-items: center;
	}
}

.event_feature_item_figure {
	@include responsive_image;

	@media #{$min_md $and_max_lg} {
		width: 40%;

		float: right;
		margin-bottom: 30px;
		margin-left: 30px;
	}

	@media #{$min_lg} {
		order: 2;
	}
}

.event_feature_item_figure_link {
	display: block;
}

.event_feature_item_figure_image {
}

.event_feature_item_wrapper {
}

.event_feature_item_header {
	display: flex;
	flex-direction: column-reverse;
	gap: 15px;

	@media #{$min_lg} {
		margin-bottom: 20px;
	}
}

.event_feature_item_title {
	@include h2;

	margin-block: 0;
}

.event_feature_item_title_link {
	text-decoration: underline;
	transition: color $base_speed;

	@include hover {
		color: $black;
	}
}

.event_feature_item_time_wrapper {
}

.event_feature_item_time {
}

.event_feature_item_time_start {
}

.event_feature_item_time_end {
}

.event_feature_item_body {
}

.event_feature_item_description {
	@include body_text;

	margin-bottom: 20px;

	p {
		margin-block: 0;
	}
}

.event_feature_item_details {
	@include small_text;

	display: grid;
	gap: 20px;
}

.event_feature_item_detail {
	display: grid;
	grid-template-columns: 14px 1fr;
	gap: 10px;
}

.event_feature_item_detail_hint {
	@include visually_hide;
}

.event_feature_item_detail_icon {
	position: relative;
	top: 4px;
}

.event_feature_item_detail_label {
}

.event_feature_item_detail_label_date {
}

.event_feature_item_detail_link {
	text-decoration: underline;
	transition: color $base_speed;

	@include hover {
		color: $black;
	}
}

.event_feature_item_detail_list {
	display: flex;
	flex-flow: row wrap;
	gap: 10px;
}

.event_feature_item_detail_item {
}
