/* ==========================================================================
	News Meta
============================================================================= */

.news_meta {
}

.news_meta_inner {
	border-bottom: 1px solid;
	padding-block: 30px;

	@media #{$min_lg} {
		align-items: center;
		display: grid;
		gap: 30px;
		grid-template-columns: 1fr max-content;
	}
}

.news_meta_body {
	display: grid;
	gap: 20px;

	@media #{$min_md} {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		column-gap: 40px;
	}
}

.news_meta_details {
	@include small_text;
}

.news_meta_detail {
	display: inline-block;
	vertical-align: middle;
}

.news_meta_date {
}

.news_meta_detail_hint {
	.news_meta_date & {
		@include visually_hide;
	}
}

.news_meta_detail_label {
}

.news_meta_author {
}

.news_meta_categories_block {
	position: relative;

	padding-left: 22px;
}

.news_meta_categories_icon {
	position: absolute;
	top: 2px;
	left: 0;
}

.news_meta_categories {
}

.news_meta_category {
	@include small_text;
}

.news_meta_category_link {
	text-decoration: underline;
	transition: color $base_speed;

	@include hover {
		color: $black;
	}
}
