{% include '@partial-page-header' with {
	page: page
} %}

<div class="page_content" id="page_content" tabindex="-1" aria-labelledby="page_title">
	<div class="fs-row">
		<div class="fs-cell">
			<!-- WYSIWYG -->
			<div class="typography">
				{% render '@partial-wysiwyg' %}
			</div>
			<!-- END: WYSIWYG -->
		</div>
	</div>
</div>