{#
	{% include '@component-text-block' with {
		text: '',
	} %}
#}

<!-- Text Block -->
<div class="text_image_block">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="text_image_block_inner">
				<div class="text_image_block_main">
					{{text}}
				</div>
				<div class="text_image_block_media">
					<img class="text_image_block_image" src="../../images/orange-fiber.png" alt="orange fiber" />
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Text Block -->