/* ==========================================================================
	Alert
============================================================================= */

.alert {
	width: 100%;

	background-color: $gray_05;
	display: none;
	position: fixed;
	bottom: 0;
	z-index: 100;

	translate: 0 100% 0;
	transition: transform 0.4s;
	transition-delay: 0s;

	@media print {
		@include margined_xl_bottom;
	}

	&.enabled {
		display: block;
	}

	&.visible {
		translate: 0 0 0;
		transition-delay: 0.28s;

		@media print {
			position: relative;
		}
	}
}

.alert_inner {
	padding-block: 30px;
}

.alert_header {
}

.alert_title {
	@include h3;

	margin: 0 50px 10px 0;

	@media print,
	#{$min_lg} {
		margin-right: 0;
	}
}

.alert_title_label {
}

.alert_body {
}

.alert_description {
	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.alert_close {
	position: absolute;
	top: 10px;
	right: 10px;

	border: 1px solid;
	color: blue;
	display: none;
	padding: 10px;
	text-decoration: underline;
	transition: color $base_speed;

	@media #{$min_lg} {
		top: 20px;
		right: 40px;
	}

	@include hover {
		color: $black;
	}

	.js & {
		display: block;

		@media print {
			display: none;
		}
	}
}

.alert_close_inner {
	align-items: center;
	display: flex;
	gap: 10px;
}

.alert_close_icon {
}

.alert_close_label {
	@include h6;
}
