/* ==========================================================================
	Buttons
============================================================================= */

button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}

/* Skip Link
============================================================================= */

.skip_link {
	@include button_inline;
	@include button_fill;

	position: absolute;
	top: 0;
	left: 50%;
	z-index: 100;

	display: block;
	opacity: 0;
	padding: 10px 20px;
	text-align: center;
	translate: -50% -300%;
	transition: opacity 0.35s, transform 0.35s, visibility 0.35s;

	&:focus,
	&:active {
		opacity: 1;
		translate: -50% 40px;
		visibility: visible;
	}
}
