/* ==========================================================================
	Icons
============================================================================= */

.icon {
	display: block;
	fill: currentColor;
	margin: auto;
	pointer-events: none;
	stroke: inherit;
	transition: fill $base_speed, stroke $base_speed;

	$icons: ((angle_down, 5, 4),
		(angle_right, 7, 7),
		(arrow_down, 22, 22),
		(arrow_left, 22, 22),
		(arrow_right, 22, 22),
		(arrow_up, 22, 22),
		(building, 16, 16),
		(caret_down, 12, 8),
		(caret_right, 8, 16),
		(caret_left, 8, 16),
		(clock, 16, 16),
		(close, 20, 20),
		(expand, 9, 18),
		(external, 18, 18),
		(facebook, 30, 29),
		(fax, 18, 16),
		(file, 16, 20),
		(flickr, 22, 10),
		(home, 14, 14),
		(instagram, 30, 30),
		(label, 14, 14),
		(linkedin, 30, 30),
		(logo, 202, 184),
		(mail, 22, 16),
		(menu, 22, 12),
		(minus, 14, 2),
		(phone, 16, 16),
		(place, 12, 16),
		(play, 20, 20),
		(plus, 14, 14),
		(reset, 9, 10),
		(search, 18, 18),
		(twitter, 37, 30),
		(video_pause, 20, 20),
		(video_play, 20, 20),
		(vimeo, 18, 18),
		(youtube, 43, 30));

	@each $label,
	$width,
	$height in $icons {
		&_#{$label} {
			width: #{$width}px;

			aspect-ratio: #{$width} / #{$height};
		}
	}
}

.icon_nowrap {
	white-space: nowrap;

	.icon {
		display: inline;
	}
}