/* ==========================================================================
	Inline Video
============================================================================= */

.lazy_video {
	--icon-size: 60px;
	--icon-color: #{$black};

	@media #{$min_lg} {
		--icon-size: 82px;
	}

	.lazy_video_toggle_btn {
		@include hover {
			--icon-color: #{$white};
		}
	}
}

.lazy_video {
	@include cover;

	display: none;

	.js & {
		display: block;

		@media print {
			display: none;
		}
	}
}

.lazy_video_toggle_btn {
	@include center;

	width: var(--icon-size);

	align-items: center;
	color: var(--icon-color);
	display: flex;
	justify-content: center;

	.icon {
		width: 100%;

		transition: $base_speed $base_timing;
	}
}

.lazy_video_iframe_wrap {
	aspect-ratio: $wide;
	transition: $base_speed opacity $base_timing, 0ms visibility $base_speed;

	display: block;
	opacity: 0;
	visibility: hidden;

	@media print {
		display: none;
	}

	.lazy_video.ready & {
		opacity: 1;
		visibility: visible;
		transition: $base_speed opacity $base_timing;
	}

	iframe {
		@include cover;
	}
}

.lazy_video_iframe_target {
	height: 100%;
}
