/* ==========================================================================
	Meta
============================================================================= */

.meta_info {
	@include small_text;

	@media #{$min_lg} {
		flex: 0 0 30%;
	}
}

.meta_info_details {
	display: grid;
	gap: 10px;
}

.meta_info_detail {
	align-items: center;
	display: grid;
	gap: 18px;
	grid-template-columns: 22px 1fr;
}

.meta_info_detail_address {
	@include sans;

	display: block;
	font-size: font_size_clamp(14px, 26px);
	line-height: calc(36 / 26);
}

.meta_info_detail_email {}

.meta_info_detail_phone {}

.meta_info_detail_fax {}

.meta_info_detail_icon {}

.meta_info_detail_label {
	&:after {
		@media print {
			content: normal;
			display: none;
		}
	}
}

.meta_info_detail_label_hint {
	@include visually_hide;
}

.meta_info_detail_link {
	color: #fff;
	display: block;
	transition: color $base_speed;
}

.meta_info_address_street {}

.meta_info_address_group {
	display: block;
}

.meta_info_address_city {}

.meta_info_address_state {}

.meta_info_address_zip {}