{#
	{% include '@component-text-block' with {
		text: '',
	} %}
#}

<!-- Text Block -->
<div class="text_block">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="text_block_inner">
				{{text}}
			</div>
		</div>
	</div>
</div>
<!-- END: Text Block -->