


<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Default
		&raquo; Pattern Library</title>
<meta
name="description" content="">

<!-- preconnects -->
<link
rel="preconnect" href="https://images.fastspot.com">

<!-- stylesheets -->
<link media="all" rel="stylesheet" href="/css/site.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Halant:wght@400;600&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">



<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
<link rel="manifest" href="/favicons/site.webmanifest">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#da2315">
<link rel="shortcut icon" href="/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#da2315">
<meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png">
<meta name="msapplication-config" content="/favicons/browserconfig.xml">
<meta name="theme-color" content="#da2315">
<!-- misc meta -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta
name="mobile-web-app-capable" content="yes">

<!-- IMPORTANT - REMOVE THIS FROM ANY CMS IMPLEMENTATION AS IT PREVENTS INDEXING -->
<meta
name="robots" content="noindex">

<!-- Facebook -->
<meta property="og:title" content="Critical Infrastructure Partners">
<meta property="og:type" content="website">
<meta property="og:image" content="https://example.dev.fastspot.com/site/social.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="600">
<meta property="og:description" content="">
<meta
property="og:site_name" content="Critical Infrastructure Partners">

<!-- twitter -->

<!-- Google Tag Manager -->
<script>
	(function (w, d, s, l, i) {
w[l] = w[l] || [];
w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
var f = d.getElementsByTagName(s)[0],
j = d.createElement(s),
dl = l != 'dataLayer' ? '&l=' + l : '';
j.async = true;
j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-5FWHMLH');
</script>
<!-- End Google Tag Manager -->
	</head>

	<body class="preload fs-grid theme-default ">
		

					<div>
				


<!-- Accordion -->
<div class="js-accordion accordion">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="accordion_inner">
									<div class="accordion_header">
													<h2 class="accordion_title">
								<span class="accordion_title_label">Admissions Deadlines</span>
							</h2>
																			<div class="accordion_description">
								<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auct.</p>
							</div>
											</div>
								<div class="accordion_items">
											<div class="js-accordion-item js-accordion-item-1-1 accordion_item">
															<h3 class="accordion_item_heading">
															<button class="js-accordion-swap js-swap accordion_item_button" data-swap-target=".js-accordion-item-1-1" >
									<span class="accordion_item_heading_inner">
										<span class="accordion_item_heading_label">
											<span class="accordion_item_heading_title">Mar 15</span>
																							<span class="accordion_item_heading_subtitle">Quam Bibendum Pellentesque Tellus</span>
																					</span>
										<span class="accordion_item_heading_icon"></span>
									</span>
								</button>
															</h3>
														<div class="js-accordion-content accordion_item_content typography" aria-label="Mar 15 Quam Bibendum Pellentesque Tellus">
								Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. <a href="#">Donec ullamcorper nulla</a> non metus auctor fringilla.
							</div>
						</div>
											<div class="js-accordion-item js-accordion-item-1-2 accordion_item">
															<h3 class="accordion_item_heading">
															<button class="js-accordion-swap js-swap accordion_item_button" data-swap-target=".js-accordion-item-1-2" >
									<span class="accordion_item_heading_inner">
										<span class="accordion_item_heading_label">
											<span class="accordion_item_heading_title">June 16</span>
																							<span class="accordion_item_heading_subtitle">Quam Bibendum Pellentesque Tellus</span>
																					</span>
										<span class="accordion_item_heading_icon"></span>
									</span>
								</button>
															</h3>
														<div class="js-accordion-content accordion_item_content typography" aria-label="June 16 Quam Bibendum Pellentesque Tellus">
								Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. <a href="#">Donec ullamcorper nulla</a> non metus auctor fringilla.
							</div>
						</div>
											<div class="js-accordion-item js-accordion-item-1-3 accordion_item">
															<h3 class="accordion_item_heading">
															<button class="js-accordion-swap js-swap accordion_item_button" data-swap-target=".js-accordion-item-1-3" >
									<span class="accordion_item_heading_inner">
										<span class="accordion_item_heading_label">
											<span class="accordion_item_heading_title">Vulputate Porta Egestas Magna Dolor</span>
																					</span>
										<span class="accordion_item_heading_icon"></span>
									</span>
								</button>
															</h3>
														<div class="js-accordion-content accordion_item_content typography" aria-label="Vulputate Porta Egestas Magna Dolor">
								Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. <a href="#">Donec ullamcorper nulla</a> non metus auctor fringilla.
							</div>
						</div>
											<div class="js-accordion-item js-accordion-item-1-4 accordion_item">
															<h3 class="accordion_item_heading">
															<button class="js-accordion-swap js-swap accordion_item_button" data-swap-target=".js-accordion-item-1-4" >
									<span class="accordion_item_heading_inner">
										<span class="accordion_item_heading_label">
											<span class="accordion_item_heading_title">August 12 - August 17</span>
																							<span class="accordion_item_heading_subtitle">Quam Bibendum Pellentesque Tellus</span>
																					</span>
										<span class="accordion_item_heading_icon"></span>
									</span>
								</button>
															</h3>
														<div class="js-accordion-content accordion_item_content typography" aria-label="August 12 - August 17 Quam Bibendum Pellentesque Tellus">
								Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. <a href="#">Donec ullamcorper nulla</a> non metus auctor fringilla.
							</div>
						</div>
											<div class="js-accordion-item js-accordion-item-1-5 accordion_item">
															<h3 class="accordion_item_heading">
															<button class="js-accordion-swap js-swap accordion_item_button" data-swap-target=".js-accordion-item-1-5" >
									<span class="accordion_item_heading_inner">
										<span class="accordion_item_heading_label">
											<span class="accordion_item_heading_title">Lorem Tellus Sollicitudin Mollis</span>
																							<span class="accordion_item_heading_subtitle">Quam Bibendum Pellentesque Tellus</span>
																					</span>
										<span class="accordion_item_heading_icon"></span>
									</span>
								</button>
															</h3>
														<div class="js-accordion-content accordion_item_content typography" aria-label="Lorem Tellus Sollicitudin Mollis Quam Bibendum Pellentesque Tellus">
								Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. <a href="#">Donec ullamcorper nulla</a> non metus auctor fringilla.
							</div>
						</div>
											<div class="js-accordion-item js-accordion-item-1-6 accordion_item">
															<h3 class="accordion_item_heading">
															<button class="js-accordion-swap js-swap accordion_item_button" data-swap-target=".js-accordion-item-1-6" >
									<span class="accordion_item_heading_inner">
										<span class="accordion_item_heading_label">
											<span class="accordion_item_heading_title">Vulputate Porta Egestas Magna Dolor</span>
																					</span>
										<span class="accordion_item_heading_icon"></span>
									</span>
								</button>
															</h3>
														<div class="js-accordion-content accordion_item_content typography" aria-label="Vulputate Porta Egestas Magna Dolor">
								Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. <a href="#">Donec ullamcorper nulla</a> non metus auctor fringilla.
							</div>
						</div>
											<div class="js-accordion-item js-accordion-item-1-7 accordion_item">
															<h3 class="accordion_item_heading">
															<button class="js-accordion-swap js-swap accordion_item_button" data-swap-target=".js-accordion-item-1-7" >
									<span class="accordion_item_heading_inner">
										<span class="accordion_item_heading_label">
											<span class="accordion_item_heading_title">Lorem Tellus Sollicitudin Mollis</span>
																							<span class="accordion_item_heading_subtitle">Quam Bibendum Pellentesque Tellus</span>
																					</span>
										<span class="accordion_item_heading_icon"></span>
									</span>
								</button>
															</h3>
														<div class="js-accordion-content accordion_item_content typography" aria-label="Lorem Tellus Sollicitudin Mollis Quam Bibendum Pellentesque Tellus">
								Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. <a href="#">Donec ullamcorper nulla</a> non metus auctor fringilla.
							</div>
						</div>
									</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Accordion -->
			</div>
		
		<script>
			var WWW_ROOT = "";
			var STATIC_ROOT = "../../index.html";
			var STATIC_ICONS_PATH = "../../images/icons.svg";
		</script>

		<script src="../../vendor/jquery/jquery.3.5.1.min.js"></script>

					
		
		<script src="../../js/site.js"></script>

					
		
		
		<link id="fs-grid-styles" rel="stylesheet" href="../../vendor/formstone/bookmarklet/bookmarklet.1.2.1.css" type="text/css" media="all">
		<script src="../../vendor/formstone/bookmarklet/bookmarklet.1.2.1.js"></script>
		<script>
			$(window).on('load', function () {
				new FSGridBookmarklet();
			});
		</script>
	</body>
</html>

