


<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Default &raquo; Pattern Library</title>
<meta name="description" content="">

<!-- preconnects -->
<link rel="preconnect" href="https://images.fastspot.com">

<!-- stylesheets -->
<link media="all" rel="stylesheet" href="/css/site.css">



<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
<link rel="manifest" href="/favicons/site.webmanifest">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#da2315">
<link rel="shortcut icon" href="/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#da2315">
<meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png">
<meta name="msapplication-config" content="/favicons/browserconfig.xml">
<meta name="theme-color" content="#da2315">
<!-- misc meta -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">

<!-- IMPORTANT - REMOVE THIS FROM ANY CMS IMPLEMENTATION AS IT PREVENTS INDEXING -->
<meta name="robots" content="noindex">

<!-- Facebook -->
<meta property="og:title" content="Framework">
<meta property="og:type" content="website">
<meta property="og:image" content="https://example.dev.fastspot.com/site/social.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="600">
<meta property="og:description" content="">
<meta property="og:site_name" content="Framework">

<!-- twitter -->

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5FWHMLH');</script>
<!-- End Google Tag Manager -->	</head>

	<body class="preload fs-grid theme-default ">
		

					<div>
				

<!-- Testimonial -->
<div class="testimonial">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="testimonial_inner">
				<figure class="testimonial_figure">
					<blockquote class="testimonial_quote">
						<span class="testimonial_quote_open">&ldquo;</span>
						<p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Praesent eget est sed ex pretium fringilla. Vivamus <em>ac turpis quis eros consectetur</em> ornare. Proin pulvinar, magna id vulputate commodo, metus massa tincidunt lorem, <a href="#">non elementum urna dui sed</a> neque. Nulla non ipsum fermentum, fermentum tellus ut, viverra est. Interdum et malesuada fames ac ant faucibus&rdquo;.</p>
					</blockquote>
					<figcaption class="testimonial_figcaption">
													<span class="testimonial_media">
								
<img class="testimonial_image" srcset="https://images.fastspot.com/framework/300x300/1 300w, https://images.fastspot.com/framework/100x100/1 100w" src="https://images.fastspot.com/framework/100x100/1" alt="" loading="lazy" width="100" height="100">
							</span>
												<span class="testimonial_info">
							<span class="testimonial_quote_name">Full Name</span>
															<span class="testimonial_quote_title">Senior Director of Department</span>
													</span>
					</figcaption>
				</figure>
			</div>
		</div>
	</div>
</div>
<!-- END: Testimonial -->
			</div>
		
		<script>
			var WWW_ROOT = "";
			var STATIC_ROOT = "../../index.html";
			var STATIC_ICONS_PATH = "../../images/icons.svg";
		</script>

		<script src="../../vendor/jquery/jquery.3.5.1.min.js"></script>

					
		
		<script src="../../js/site.js"></script>

					
		
		
		<link id="fs-grid-styles" rel="stylesheet" href="../../vendor/formstone/bookmarklet/bookmarklet.1.2.1.css" type="text/css" media="all">
		<script src="../../vendor/formstone/bookmarklet/bookmarklet.1.2.1.js"></script>
		<script>
			$(window).on('load', function () {
				new FSGridBookmarklet();
			});
		</script>
	</body>
</html>

