


<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Default &raquo; Pattern Library</title>
<meta name="description" content="">

<!-- preconnects -->
<link rel="preconnect" href="https://images.fastspot.com">

<!-- stylesheets -->
<link media="all" rel="stylesheet" href="/css/site.css">



<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
<link rel="manifest" href="/favicons/site.webmanifest">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#da2315">
<link rel="shortcut icon" href="/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#da2315">
<meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png">
<meta name="msapplication-config" content="/favicons/browserconfig.xml">
<meta name="theme-color" content="#da2315">
<!-- misc meta -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">

<!-- IMPORTANT - REMOVE THIS FROM ANY CMS IMPLEMENTATION AS IT PREVENTS INDEXING -->
<meta name="robots" content="noindex">

<!-- Facebook -->
<meta property="og:title" content="Framework">
<meta property="og:type" content="website">
<meta property="og:image" content="https://example.dev.fastspot.com/site/social.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="600">
<meta property="og:description" content="">
<meta property="og:site_name" content="Framework">

<!-- twitter -->

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5FWHMLH');</script>
<!-- End Google Tag Manager -->	</head>

	<body class="preload fs-grid theme-default ">
		

					<div>
				<!-- Footer -->
<footer class="footer" id="footer">
	<div class="footer_primary">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="footer_primary_inner">
					<div class="footer_primary_group">
						<div class="footer_logo">
							
<div class="logo logo_footer logo_icon">
	<a class="logo_link" href="page-home.html">
		<span class="logo_link_label">Framework</span>
					<span class="logo_link_icon">
			<svg class="icon icon_logo">
				<use href="/images/icons.svg#logo" />
			</svg>
		</span>
			</a>
	</div>						</div>
						<div class="footer_meta">
							
<div class="meta_info" id="meta_info">
	<script type="application/ld+json">
		{
			'@context': 'http://schema.org',
			'@type': 'Organization',
			'name': 'Framework',
			'logo': '//example.dev.fastspot.com/site/images/logo-schema.png',
			'address': {
				'@type': 'PostalAddress',
				'streetAddress': '2980 Falls Road',
				'addressLocality': 'Baltimore',
				'addressRegion': 'MD',
				'postalCode': '21211"
			},
			'email': 'info@fastspot.com',			'telephone': '(410) 537-5007',			'url': '//example.dev.fastspot.com/site',
							'sameAs': [
									'//www.facebook.com'
					,
														'//www.twitter.com'
					,
														'//www.instagram.com'
					,
														'//www.youtube.com'
					,
														'//www.linkedin.com'
													]
					}
	</script>
	<div class="meta_info_details">
		<div class="meta_info_detail meta_info_detail_address">
			<span class="meta_info_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</span>
			<a class="meta_info_detail_label meta_info_detail_link" href="//www.google.com/maps/place/?q=place_id:ChIJofvP7nsEyIkRAppsAwqW4SQ" target="_blank" rel="noopener">
				<span class="meta_info_address_street">2980 Falls Road,</span>
				<span class="meta_info_address_group">
					<span class="meta_info_address_city">Baltimore,</span>
					<span class="meta_info_address_state">MD</span>
					<span class="meta_info_address_zip">21211</span>
				</span>
			</a>
		</div>
					<div class="meta_info_detail meta_info_detail_email">
				<span class="meta_info_detail_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</span>
				<a class="meta_info_detail_label meta_info_detail_link" href="mailto:info@fastspot.com">info@fastspot.com</a>
			</div>
							<div class="meta_info_detail meta_info_detail_phone">
				<span class="meta_info_detail_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</span>
				<a class="meta_info_detail_label meta_info_detail_link" href="tel:4105375007">P<span class="meta_info_detail_label_hint">hone</span>:&nbsp; (410) 537-5007</a>
			</div>
							<div class="meta_info_detail meta_info_detail_fax">
				<span class="meta_info_detail_icon">
			<svg class="icon icon_fax">
				<use href="/images/icons.svg#fax" />
			</svg>
		</span>
				<a class="meta_info_detail_label meta_info_detail_link" href="tel:4105375008">F<span class="meta_info_detail_label_hint">ax</span>:&nbsp; (410) 537-5008</a>
			</div>
			</div>
</div>						</div>
					</div>
					<div class="footer_footer_nav">
						


<nav class="footer_nav" aria-labelledby="basic_nav_title-1">
	<div class="footer_nav_header">
		<h2 class="footer_nav_title" id="basic_nav_title-1">Footer</h2>
	</div>
	<ul class="footer_nav_list" aria-labelledby="basic_nav_title-1">
					<li class="footer_nav_item">
				<a class="footer_nav_link" href="#">
					<div class="footer_nav_link_inner">
												<span class="footer_nav_link_label">Make a Gift</span>
					</div>
				</a>
							</li>
					<li class="footer_nav_item">
				<a class="footer_nav_link" href="#">
					<div class="footer_nav_link_inner">
												<span class="footer_nav_link_label">Library & Information Technology</span>
					</div>
				</a>
							</li>
					<li class="footer_nav_item">
				<a class="footer_nav_link" href="#">
					<div class="footer_nav_link_inner">
												<span class="footer_nav_link_label">Offices & Services</span>
					</div>
				</a>
							</li>
					<li class="footer_nav_item">
				<a class="footer_nav_link" href="#">
					<div class="footer_nav_link_inner">
												<span class="footer_nav_link_label">Bookstore</span>
					</div>
				</a>
							</li>
					<li class="footer_nav_item">
				<a class="footer_nav_link" href="#">
					<div class="footer_nav_link_inner">
												<span class="footer_nav_link_label">Apply Now</span>
					</div>
				</a>
							</li>
			</ul>
</nav>					</div>
					<div class="footer_social_nav">
						

<div class="social_nav">
	<div class="social_nav_header">
		<h2 class="social_nav_title" id="social_nav_title">Social</h2>
	</div>
	<ul class="social_nav_list" aria-labelledby="social_nav_title">
					<li class="social_nav_item">
				<a class="social_nav_link social_nav_link_facebook" href="//www.facebook.com" target="_blank" rel="noopener">
					<span class="social_nav_icon">
			<svg class="icon icon_facebook">
				<use href="/images/icons.svg#facebook" />
			</svg>
		</span>
					<span class="social_nav_label">Facebook</span>
				</a>
			</li>
					<li class="social_nav_item">
				<a class="social_nav_link social_nav_link_twitter" href="//www.twitter.com" target="_blank" rel="noopener">
					<span class="social_nav_icon">
			<svg class="icon icon_twitter">
				<use href="/images/icons.svg#twitter" />
			</svg>
		</span>
					<span class="social_nav_label">Twitter</span>
				</a>
			</li>
					<li class="social_nav_item">
				<a class="social_nav_link social_nav_link_instagram" href="//www.instagram.com" target="_blank" rel="noopener">
					<span class="social_nav_icon">
			<svg class="icon icon_instagram">
				<use href="/images/icons.svg#instagram" />
			</svg>
		</span>
					<span class="social_nav_label">Instagram</span>
				</a>
			</li>
					<li class="social_nav_item">
				<a class="social_nav_link social_nav_link_youtube" href="//www.youtube.com" target="_blank" rel="noopener">
					<span class="social_nav_icon">
			<svg class="icon icon_youtube">
				<use href="/images/icons.svg#youtube" />
			</svg>
		</span>
					<span class="social_nav_label">Youtube</span>
				</a>
			</li>
					<li class="social_nav_item">
				<a class="social_nav_link social_nav_link_linkedin" href="//www.linkedin.com" target="_blank" rel="noopener">
					<span class="social_nav_icon">
			<svg class="icon icon_linkedin">
				<use href="/images/icons.svg#linkedin" />
			</svg>
		</span>
					<span class="social_nav_label">Linkedin</span>
				</a>
			</li>
			</ul>
</div>					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer_ribbon">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="footer_ribbon_inner">
					<div class="footer_utility_nav">
						


<nav class="utility_nav" aria-labelledby="basic_nav_title-2">
	<div class="utility_nav_header">
		<h2 class="utility_nav_title" id="basic_nav_title-2">Utility</h2>
	</div>
	<ul class="utility_nav_list" aria-labelledby="basic_nav_title-2">
					<li class="utility_nav_item">
				<a class="utility_nav_link" href="#">
					<div class="utility_nav_link_inner">
												<span class="utility_nav_link_label">Accessibility</span>
					</div>
				</a>
							</li>
					<li class="utility_nav_item">
				<a class="utility_nav_link" href="#">
					<div class="utility_nav_link_inner">
												<span class="utility_nav_link_label">Contact Us</span>
					</div>
				</a>
							</li>
					<li class="utility_nav_item">
				<a class="utility_nav_link" href="#">
					<div class="utility_nav_link_inner">
												<span class="utility_nav_link_label">Employment Opportunities</span>
					</div>
				</a>
							</li>
					<li class="utility_nav_item">
				<a class="utility_nav_link" href="#">
					<div class="utility_nav_link_inner">
												<span class="utility_nav_link_label">Maps & Directions</span>
					</div>
				</a>
							</li>
					<li class="utility_nav_item">
				<a class="utility_nav_link" href="#">
					<div class="utility_nav_link_inner">
												<span class="utility_nav_link_label">Privacy Policy</span>
					</div>
				</a>
							</li>
			</ul>
</nav>					</div>
					<div class="footer_copyright">
						
<p class="copyright">
	<span class="copyright_icon">&copy;</span>
	<span class="copyright_holder">
		<span class="copyright_holder_name">Framework</span>
	</span>
	<span class="copyright_year">2022</span>
</p>					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="js-alert-wrapper">
			</div>
</footer>
<!-- END: Footer -->
			</div>
		
		<script>
			var WWW_ROOT = "";
			var STATIC_ROOT = "../../index.html";
			var STATIC_ICONS_PATH = "../../images/icons.svg";
		</script>

		<script src="../../vendor/jquery/jquery.3.5.1.min.js"></script>

					
		
		<script src="../../js/site.js"></script>

					
		
		
		<link id="fs-grid-styles" rel="stylesheet" href="../../vendor/formstone/bookmarklet/bookmarklet.1.2.1.css" type="text/css" media="all">
		<script src="../../vendor/formstone/bookmarklet/bookmarklet.1.2.1.js"></script>
		<script>
			$(window).on('load', function () {
				new FSGridBookmarklet();
			});
		</script>
	</body>
</html>

