


<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Default
		&raquo; Pattern Library</title>
<meta
name="description" content="">

<!-- preconnects -->
<link
rel="preconnect" href="https://images.fastspot.com">

<!-- stylesheets -->
<link media="all" rel="stylesheet" href="/css/site.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Halant:wght@400;600&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">



<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
<link rel="manifest" href="/favicons/site.webmanifest">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#da2315">
<link rel="shortcut icon" href="/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#da2315">
<meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png">
<meta name="msapplication-config" content="/favicons/browserconfig.xml">
<meta name="theme-color" content="#da2315">
<!-- misc meta -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta
name="mobile-web-app-capable" content="yes">

<!-- IMPORTANT - REMOVE THIS FROM ANY CMS IMPLEMENTATION AS IT PREVENTS INDEXING -->
<meta
name="robots" content="noindex">

<!-- Facebook -->
<meta property="og:title" content="Critical Infrastructure Partners">
<meta property="og:type" content="website">
<meta property="og:image" content="https://example.dev.fastspot.com/site/social.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="600">
<meta property="og:description" content="">
<meta
property="og:site_name" content="Critical Infrastructure Partners">

<!-- twitter -->

<!-- Google Tag Manager -->
<script>
	(function (w, d, s, l, i) {
w[l] = w[l] || [];
w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
var f = d.getElementsByTagName(s)[0],
j = d.createElement(s),
dl = l != 'dataLayer' ? '&l=' + l : '';
j.async = true;
j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-5FWHMLH');
</script>
<!-- End Google Tag Manager -->
	</head>

	<body class="preload fs-grid theme-default ">
		

					<div>
				


<div class="js-nav-toggle-group js-audience-nav-group js-audience-nav-group-demo toggle_nav_group audience_nav_group audience_nav_group_demo">
	

<button class="js-audience-nav-toggle js-nav-toggle-button js-swap audience_nav_toggle button_toggle"   data-swap-target=".js-audience-nav-group"   data-swap-linked="audience" >
	<span class="audience_nav_toggle_inner_default audience_nav_toggle_inner button_toggle_inner_default button_toggle_inner">
					<span class="audience_nav_toggle_label_default audience_nav_toggle_label button_toggle_label_default button_toggle_label">Audience</span>
							<span class="audience_nav_toggle_icon_default audience_nav_toggle_icon button_toggle_icon_default button_toggle_icon" aria-hidden="true">
					
			<svg class="icon icon_plus">
				<use href="/images/icons.svg#plus" />
			</svg>
		
				</span>
						</span>
			<span class="audience_nav_toggle_inner_active audience_nav_toggle_inner button_toggle_inner_active button_toggle_inner">
							<span class="audience_nav_toggle_label_active audience_nav_toggle_label button_toggle_label_active button_toggle_label">Close</span>
									<span class="audience_nav_toggle_icon_active audience_nav_toggle_icon button_toggle_icon_active button_toggle_icon" aria-hidden="true">
						
			<svg class="icon icon_minus">
				<use href="/images/icons.svg#minus" />
			</svg>
		
					</span>
									</span>
	</button>	<div class="js-nav-toggle-panel js-audience-nav-panel js-audience-nav-panel-demo toggle_nav_panel audience_nav_panel audience_nav_panel_demo">
		<nav class="js-nav-toggle js-audience-nav js-audience-nav-demo toggle_nav audience_nav audience_nav_demo" aria-labelledby="toggle_nav_title-1">
			<div class="toggle_nav_header audience_nav_header">
				<h2 class="toggle_nav_title audience_nav_title" id="toggle_nav_title-1">Audience</h2>
			</div>
			<ul class="js-nav-toggle-list js-audience-nav-list toggle_nav_list audience_nav_list" aria-labelledby="toggle_nav_title-1">
									<li class="js-nav-toggle-item js-audience-nav-item toggle_nav_item audience_nav_item">
						<a class="js-nav-toggle-link js-audience-nav-link toggle_nav_link audience_nav_link" href="#">
							<div class="toggle_nav_link_inner audience_nav_link_inner">
																<span class="audience_nav_link_label">Faculty</span>
							</div>
						</a>
											</li>
									<li class="js-nav-toggle-item js-audience-nav-item toggle_nav_item audience_nav_item">
						<a class="js-nav-toggle-link js-audience-nav-link toggle_nav_link audience_nav_link" href="#">
							<div class="toggle_nav_link_inner audience_nav_link_inner">
																<span class="audience_nav_link_label">Staff</span>
							</div>
						</a>
											</li>
									<li class="js-nav-toggle-item js-audience-nav-item toggle_nav_item audience_nav_item">
						<a class="js-nav-toggle-link js-audience-nav-link toggle_nav_link audience_nav_link" href="#">
							<div class="toggle_nav_link_inner audience_nav_link_inner">
																<span class="audience_nav_link_label">Current Students</span>
							</div>
						</a>
											</li>
									<li class="js-nav-toggle-item js-audience-nav-item toggle_nav_item audience_nav_item">
						<a class="js-nav-toggle-link js-audience-nav-link toggle_nav_link audience_nav_link" href="#">
							<div class="toggle_nav_link_inner audience_nav_link_inner">
																<span class="audience_nav_link_label">Prospective Student</span>
							</div>
						</a>
											</li>
									<li class="js-nav-toggle-item js-audience-nav-item toggle_nav_item audience_nav_item">
						<a class="js-nav-toggle-link js-audience-nav-link toggle_nav_link audience_nav_link" href="#">
							<div class="toggle_nav_link_inner audience_nav_link_inner">
																<span class="audience_nav_link_label">Alumni</span>
							</div>
						</a>
											</li>
									<li class="js-nav-toggle-item js-audience-nav-item toggle_nav_item audience_nav_item">
						<a class="js-nav-toggle-link js-audience-nav-link toggle_nav_link audience_nav_link" href="#">
							<div class="toggle_nav_link_inner audience_nav_link_inner">
																<span class="audience_nav_link_label">Parents & Families</span>
							</div>
						</a>
											</li>
									<li class="js-nav-toggle-item js-audience-nav-item toggle_nav_item audience_nav_item">
						<a class="js-nav-toggle-link js-audience-nav-link toggle_nav_link audience_nav_link" href="#">
							<div class="toggle_nav_link_inner audience_nav_link_inner">
																<span class="audience_nav_link_label">Visitors</span>
							</div>
						</a>
											</li>
							</ul>
		</nav>
	</div>
</div>
			</div>
		
		<script>
			var WWW_ROOT = "";
			var STATIC_ROOT = "../../index.html";
			var STATIC_ICONS_PATH = "../../images/icons.svg";
		</script>

		<script src="../../vendor/jquery/jquery.3.5.1.min.js"></script>

					
		
		<script src="../../js/site.js"></script>

					
		
		
		<link id="fs-grid-styles" rel="stylesheet" href="../../vendor/formstone/bookmarklet/bookmarklet.1.2.1.css" type="text/css" media="all">
		<script src="../../vendor/formstone/bookmarklet/bookmarklet.1.2.1.js"></script>
		<script>
			$(window).on('load', function () {
				new FSGridBookmarklet();
			});
		</script>
	</body>
</html>

