


<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Default
		&raquo; Pattern Library</title>
<meta
name="description" content="">

<!-- preconnects -->
<link
rel="preconnect" href="https://images.fastspot.com">

<!-- stylesheets -->
<link media="all" rel="stylesheet" href="/css/site.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Halant:wght@400;600&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">



<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
<link rel="manifest" href="/favicons/site.webmanifest">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#da2315">
<link rel="shortcut icon" href="/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#da2315">
<meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png">
<meta name="msapplication-config" content="/favicons/browserconfig.xml">
<meta name="theme-color" content="#da2315">
<!-- misc meta -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta
name="mobile-web-app-capable" content="yes">

<!-- IMPORTANT - REMOVE THIS FROM ANY CMS IMPLEMENTATION AS IT PREVENTS INDEXING -->
<meta
name="robots" content="noindex">

<!-- Facebook -->
<meta property="og:title" content="Critical Infrastructure Partners">
<meta property="og:type" content="website">
<meta property="og:image" content="https://example.dev.fastspot.com/site/social.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="600">
<meta property="og:description" content="">
<meta
property="og:site_name" content="Critical Infrastructure Partners">

<!-- twitter -->

<!-- Google Tag Manager -->
<script>
	(function (w, d, s, l, i) {
w[l] = w[l] || [];
w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
var f = d.getElementsByTagName(s)[0],
j = d.createElement(s),
dl = l != 'dataLayer' ? '&l=' + l : '';
j.async = true;
j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-5FWHMLH');
</script>
<!-- End Google Tag Manager -->
	</head>

	<body class="preload fs-grid theme-default ">
		

					<div>
				
<!-- Event List -->
<div class="event_list">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="event_list_inner">
				<ul class="event_list_rows" id="item_list" aria-label="">
											<li class="event_list_row">
							<div class="event_list_item">
																	<figure class="event_list_item_figure">
										<a class="event_list_item_figure_link" href="page-event-detail.html" aria-label="Read more about Phasellus viverra nulla ut metus varius laoreet" tabindex="-1">
											
<img class="event_list_item_image" srcset="https://images.fastspot.com/framework/980x654/1 980w, https://images.fastspot.com/framework/740x494/1 740w, https://images.fastspot.com/framework/500x334/1 500w, https://images.fastspot.com/framework/300x200/1 300w" src="https://images.fastspot.com/framework/300x200/1" alt="" loading="lazy" width="300" height="200">
										</a>
									</figure>
																<div class="event_list_item_wrapper">
									<div class="event_list_item_header">
										<h2 class="event_list_item_title">
											
<a href="page-event-detail.html" class="event_list_item_title_link" >
	<span class="event_list_item_title_link_inner">
					<span class="event_list_item_title_link_label">Phasellus viverra nulla ut metus varius laoreet</span>
						</span>
</a>										</h2>
										<div class="event_list_item_time_wrapper">
											<time class="event_list_item_time" datetime="2023-05-31 17:00:00">
												<span class="event_list_item_time_start">May 31</span>
																									<span class="event_list_item_time_end"> - Jun 13</span>
																							</time>
										</div>
									</div>
									<div class="event_list_item_body">
																					<div class="event_list_item_description">
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p>
											</div>
																				<div class="event_list_item_details">
																							<div class="event_list_item_detail">
													<span class="event_list_item_detail_icon">
			<svg class="icon icon_clock">
				<use href="/images/icons.svg#clock" />
			</svg>
		</span>
													<span class="event_list_item_detail_hint">Time:&nbsp;</span>
													<span class="event_list_item_detail_label">
														<span class="event_list_item_detail_label_date">5:00 PM - 7:00 PM</span>
													</span>
												</div>
																																		<div class="event_list_item_detail">
													<span class="event_list_item_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</span>
													<span class="event_list_item_detail_hint">Location:&nbsp;</span>
													<span class="event_list_item_detail_label">Fastspot, 2980 Long Name of Road Rd. Baltimore, MD 21218</span>
												</div>
																																		<div class="event_list_item_detail event_list_item_detail_category">
													<span class="event_list_item_detail_icon">
			<svg class="icon icon_label">
				<use href="/images/icons.svg#label" />
			</svg>
		</span>
													<span class="event_list_item_detail_hint">Categories:&nbsp;</span>
													<ul class="event_list_item_detail_list" aria-label="Categories">
																													<li class="event_list_item_detail_item">
																<a class="event_list_item_detail_link" href="#">Category One</a>
															</li>
																													<li class="event_list_item_detail_item">
																<a class="event_list_item_detail_link" href="#">Category Two</a>
															</li>
																											</ul>
												</div>
																					</div>
									</div>
								</div>
							</div>
						</li>
											<li class="event_list_row">
							<div class="event_list_item">
																<div class="event_list_item_wrapper">
									<div class="event_list_item_header">
										<h2 class="event_list_item_title">
											
<a href="page-event-detail.html" class="event_list_item_title_link" >
	<span class="event_list_item_title_link_inner">
					<span class="event_list_item_title_link_label">Aenean commodo ligula eget dolor</span>
						</span>
</a>										</h2>
										<div class="event_list_item_time_wrapper">
											<time class="event_list_item_time" datetime="2023-05-31 17:00:00">
												<span class="event_list_item_time_start">May 31</span>
																							</time>
										</div>
									</div>
									<div class="event_list_item_body">
																					<div class="event_list_item_description">
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p>
											</div>
																				<div class="event_list_item_details">
																																		<div class="event_list_item_detail">
													<span class="event_list_item_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</span>
													<span class="event_list_item_detail_hint">Location:&nbsp;</span>
													<span class="event_list_item_detail_label">Location</span>
												</div>
																																		<div class="event_list_item_detail event_list_item_detail_category">
													<span class="event_list_item_detail_icon">
			<svg class="icon icon_label">
				<use href="/images/icons.svg#label" />
			</svg>
		</span>
													<span class="event_list_item_detail_hint">Categories:&nbsp;</span>
													<ul class="event_list_item_detail_list" aria-label="Categories">
																													<li class="event_list_item_detail_item">
																<a class="event_list_item_detail_link" href="#">Category One</a>
															</li>
																											</ul>
												</div>
																					</div>
									</div>
								</div>
							</div>
						</li>
											<li class="event_list_row">
							<div class="event_list_item">
																	<figure class="event_list_item_figure">
										<a class="event_list_item_figure_link" href="page-event-detail.html" aria-label="Read more about In enim justo" tabindex="-1">
											
<img class="event_list_item_image" srcset="https://images.fastspot.com/framework/980x654/2 980w, https://images.fastspot.com/framework/740x494/2 740w, https://images.fastspot.com/framework/500x334/2 500w, https://images.fastspot.com/framework/300x200/2 300w" src="https://images.fastspot.com/framework/300x200/2" alt="" loading="lazy" width="300" height="200">
										</a>
									</figure>
																<div class="event_list_item_wrapper">
									<div class="event_list_item_header">
										<h2 class="event_list_item_title">
											
<a href="page-event-detail.html" class="event_list_item_title_link" >
	<span class="event_list_item_title_link_inner">
					<span class="event_list_item_title_link_label">In enim justo</span>
						</span>
</a>										</h2>
										<div class="event_list_item_time_wrapper">
											<time class="event_list_item_time" datetime="2023-05-31 17:00:00">
												<span class="event_list_item_time_start">May 31</span>
																									<span class="event_list_item_time_end"> - Jun 13</span>
																							</time>
										</div>
									</div>
									<div class="event_list_item_body">
																				<div class="event_list_item_details">
																							<div class="event_list_item_detail">
													<span class="event_list_item_detail_icon">
			<svg class="icon icon_clock">
				<use href="/images/icons.svg#clock" />
			</svg>
		</span>
													<span class="event_list_item_detail_hint">Time:&nbsp;</span>
													<span class="event_list_item_detail_label">
														<span class="event_list_item_detail_label_date">5:00 PM - 7:00 PM</span>
													</span>
												</div>
																																		<div class="event_list_item_detail">
													<span class="event_list_item_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</span>
													<span class="event_list_item_detail_hint">Location:&nbsp;</span>
													<span class="event_list_item_detail_label">Location</span>
												</div>
																																		<div class="event_list_item_detail event_list_item_detail_category">
													<span class="event_list_item_detail_icon">
			<svg class="icon icon_label">
				<use href="/images/icons.svg#label" />
			</svg>
		</span>
													<span class="event_list_item_detail_hint">Categories:&nbsp;</span>
													<ul class="event_list_item_detail_list" aria-label="Categories">
																													<li class="event_list_item_detail_item">
																<a class="event_list_item_detail_link" href="#">Category Two</a>
															</li>
																											</ul>
												</div>
																					</div>
									</div>
								</div>
							</div>
						</li>
											<li class="event_list_row">
							<div class="event_list_item">
																	<figure class="event_list_item_figure">
										<a class="event_list_item_figure_link" href="page-event-detail.html" aria-label="Read more about Maecenas nec odio et ante tincidunt tempus phasellus viverra nulla ut metus varius laoreet consectetuer adipiscing elit" tabindex="-1">
											
<img class="event_list_item_image" srcset="https://images.fastspot.com/framework/980x654/3 980w, https://images.fastspot.com/framework/740x494/3 740w, https://images.fastspot.com/framework/500x334/3 500w, https://images.fastspot.com/framework/300x200/3 300w" src="https://images.fastspot.com/framework/300x200/3" alt="" loading="lazy" width="300" height="200">
										</a>
									</figure>
																<div class="event_list_item_wrapper">
									<div class="event_list_item_header">
										<h2 class="event_list_item_title">
											
<a href="page-event-detail.html" class="event_list_item_title_link" >
	<span class="event_list_item_title_link_inner">
					<span class="event_list_item_title_link_label">Maecenas nec odio et ante tincidunt tempus phasellus viverra nulla ut metus varius laoreet consectetuer adipiscing elit</span>
						</span>
</a>										</h2>
										<div class="event_list_item_time_wrapper">
											<time class="event_list_item_time" datetime="2023-06-13 17:00:00">
												<span class="event_list_item_time_start">Jun 13</span>
																							</time>
										</div>
									</div>
									<div class="event_list_item_body">
																					<div class="event_list_item_description">
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p>
											</div>
																				<div class="event_list_item_details">
																							<div class="event_list_item_detail">
													<span class="event_list_item_detail_icon">
			<svg class="icon icon_clock">
				<use href="/images/icons.svg#clock" />
			</svg>
		</span>
													<span class="event_list_item_detail_hint">Time:&nbsp;</span>
													<span class="event_list_item_detail_label">
														<span class="event_list_item_detail_label_date">5:00 PM - 7:00 PM</span>
													</span>
												</div>
																																		<div class="event_list_item_detail">
													<span class="event_list_item_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</span>
													<span class="event_list_item_detail_hint">Location:&nbsp;</span>
													<span class="event_list_item_detail_label">Location</span>
												</div>
																																		<div class="event_list_item_detail event_list_item_detail_category">
													<span class="event_list_item_detail_icon">
			<svg class="icon icon_label">
				<use href="/images/icons.svg#label" />
			</svg>
		</span>
													<span class="event_list_item_detail_hint">Categories:&nbsp;</span>
													<ul class="event_list_item_detail_list" aria-label="Categories">
																													<li class="event_list_item_detail_item">
																<a class="event_list_item_detail_link" href="#">Category One</a>
															</li>
																											</ul>
												</div>
																					</div>
									</div>
								</div>
							</div>
						</li>
											<li class="event_list_row">
							<div class="event_list_item">
																<div class="event_list_item_wrapper">
									<div class="event_list_item_header">
										<h2 class="event_list_item_title">
											
<a href="page-event-detail.html" class="event_list_item_title_link" >
	<span class="event_list_item_title_link_inner">
					<span class="event_list_item_title_link_label">Aenean massa</span>
						</span>
</a>										</h2>
										<div class="event_list_item_time_wrapper">
											<time class="event_list_item_time" datetime="2023-06-22 17:00:00">
												<span class="event_list_item_time_start">Jun 22</span>
																							</time>
										</div>
									</div>
									<div class="event_list_item_body">
																					<div class="event_list_item_description">
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p>
											</div>
																				<div class="event_list_item_details">
																							<div class="event_list_item_detail">
													<span class="event_list_item_detail_icon">
			<svg class="icon icon_clock">
				<use href="/images/icons.svg#clock" />
			</svg>
		</span>
													<span class="event_list_item_detail_hint">Time:&nbsp;</span>
													<span class="event_list_item_detail_label">
														<span class="event_list_item_detail_label_date">5:00 PM - 1:50 PM</span>
													</span>
												</div>
																																													<div class="event_list_item_detail event_list_item_detail_category">
													<span class="event_list_item_detail_icon">
			<svg class="icon icon_label">
				<use href="/images/icons.svg#label" />
			</svg>
		</span>
													<span class="event_list_item_detail_hint">Categories:&nbsp;</span>
													<ul class="event_list_item_detail_list" aria-label="Categories">
																													<li class="event_list_item_detail_item">
																<a class="event_list_item_detail_link" href="#">Category Three</a>
															</li>
																											</ul>
												</div>
																					</div>
									</div>
								</div>
							</div>
						</li>
											<li class="event_list_row">
							<div class="event_list_item">
																	<figure class="event_list_item_figure">
										<a class="event_list_item_figure_link" href="page-event-detail.html" aria-label="Read more about Cras ultricies mi eu turpis" tabindex="-1">
											
<img class="event_list_item_image" srcset="https://images.fastspot.com/framework/980x654/4 980w, https://images.fastspot.com/framework/740x494/4 740w, https://images.fastspot.com/framework/500x334/4 500w, https://images.fastspot.com/framework/300x200/4 300w" src="https://images.fastspot.com/framework/300x200/4" alt="" loading="lazy" width="300" height="200">
										</a>
									</figure>
																<div class="event_list_item_wrapper">
									<div class="event_list_item_header">
										<h2 class="event_list_item_title">
											
<a href="page-event-detail.html" class="event_list_item_title_link" >
	<span class="event_list_item_title_link_inner">
					<span class="event_list_item_title_link_label">Cras ultricies mi eu turpis</span>
						</span>
</a>										</h2>
										<div class="event_list_item_time_wrapper">
											<time class="event_list_item_time" datetime="2023-06-23 17:00:00">
												<span class="event_list_item_time_start">Jun 23</span>
																							</time>
										</div>
									</div>
									<div class="event_list_item_body">
																					<div class="event_list_item_description">
												<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
											</div>
																				<div class="event_list_item_details">
																							<div class="event_list_item_detail">
													<span class="event_list_item_detail_icon">
			<svg class="icon icon_clock">
				<use href="/images/icons.svg#clock" />
			</svg>
		</span>
													<span class="event_list_item_detail_hint">Time:&nbsp;</span>
													<span class="event_list_item_detail_label">
														<span class="event_list_item_detail_label_date">5:00 PM - 1:50 PM</span>
													</span>
												</div>
																																		<div class="event_list_item_detail">
													<span class="event_list_item_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</span>
													<span class="event_list_item_detail_hint">Location:&nbsp;</span>
													<span class="event_list_item_detail_label">Location</span>
												</div>
																																		<div class="event_list_item_detail event_list_item_detail_category">
													<span class="event_list_item_detail_icon">
			<svg class="icon icon_label">
				<use href="/images/icons.svg#label" />
			</svg>
		</span>
													<span class="event_list_item_detail_hint">Categories:&nbsp;</span>
													<ul class="event_list_item_detail_list" aria-label="Categories">
																													<li class="event_list_item_detail_item">
																<a class="event_list_item_detail_link" href="#">Category One</a>
															</li>
																													<li class="event_list_item_detail_item">
																<a class="event_list_item_detail_link" href="#">Category Two</a>
															</li>
																													<li class="event_list_item_detail_item">
																<a class="event_list_item_detail_link" href="#">Category Three</a>
															</li>
																											</ul>
												</div>
																					</div>
									</div>
								</div>
							</div>
						</li>
									</ul>
				<div class="event_list_pagination">
					
<!-- Pagination -->
<div class="pagination">
	<nav class="pagination_nav" aria-label="Events Pagination">
		<a class="pagination_arrow pagination_arrow_left pagination_arrow_disabled" href="#">
			<span class="pagination_arrow_icon">
			<svg class="icon icon_caret_left">
				<use href="/images/icons.svg#caret_left" />
			</svg>
		</span>
			<span class="pagination_arrow_label">Previous Page</span>
		</a>
		<a class="pagination_arrow pagination_arrow_right" href="#">
			<span class="pagination_arrow_label">Next Page</span>
			<span class="pagination_arrow_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
		</a>
	</nav>
	<form class="pagination_form" action="#" method="get">
		<div class="pagination_form_inner">
			<label class="pagination_form_label" for="pagination_form_select">Page</label>
			<div class="pagination_form_select_wrapper">
				<select class="pagination_form_select" name="page" id="pagination_form_select" aria-label="Select Page Number">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="16">16</option>
											<option value="17">17</option>
											<option value="18">18</option>
											<option value="19">19</option>
											<option value="20">20</option>
											<option value="21">21</option>
											<option value="22">22</option>
											<option value="23">23</option>
											<option value="24">24</option>
											<option value="25">25</option>
											<option value="26">26</option>
											<option value="27">27</option>
											<option value="28">28</option>
											<option value="29">29</option>
											<option value="30">30</option>
											<option value="31">31</option>
											<option value="32">32</option>
											<option value="33">33</option>
											<option value="34">34</option>
											<option value="35">35</option>
											<option value="36">36</option>
											<option value="37">37</option>
											<option value="38">38</option>
											<option value="39">39</option>
											<option value="40">40</option>
											<option value="41">41</option>
											<option value="42">42</option>
											<option value="43">43</option>
											<option value="44">44</option>
											<option value="45">45</option>
											<option value="46">46</option>
											<option value="47">47</option>
											<option value="48">48</option>
											<option value="49">49</option>
											<option value="50">50</option>
									</select>
				<span class="pagination_form_select_icon">
			<svg class="icon icon_expand">
				<use href="/images/icons.svg#expand" />
			</svg>
		</span>
			</div>
			<span class="pagination_form_suffix">of 50</span>
			<button class="pagination_form_button" type="submit" aria-label="View Page">Go</button>
		</div>
	</form>
</div>
<!-- END: Pagination -->				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Event Item -->
			</div>
		
		<script>
			var WWW_ROOT = "";
			var STATIC_ROOT = "../../index.html";
			var STATIC_ICONS_PATH = "../../images/icons.svg";
		</script>

		<script src="../../vendor/jquery/jquery.3.5.1.min.js"></script>

					
		
		<script src="../../js/site.js"></script>

					
		
		
		<link id="fs-grid-styles" rel="stylesheet" href="../../vendor/formstone/bookmarklet/bookmarklet.1.2.1.css" type="text/css" media="all">
		<script src="../../vendor/formstone/bookmarklet/bookmarklet.1.2.1.js"></script>
		<script>
			$(window).on('load', function () {
				new FSGridBookmarklet();
			});
		</script>
	</body>
</html>

