


<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Default &raquo; Pattern Library</title>
<meta name="description" content="">

<!-- preconnects -->
<link rel="preconnect" href="https://images.fastspot.com">

<!-- stylesheets -->
<link media="all" rel="stylesheet" href="/css/site.css">



<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
<link rel="manifest" href="/favicons/site.webmanifest">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#da2315">
<link rel="shortcut icon" href="/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#da2315">
<meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png">
<meta name="msapplication-config" content="/favicons/browserconfig.xml">
<meta name="theme-color" content="#da2315">
<!-- misc meta -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">

<!-- IMPORTANT - REMOVE THIS FROM ANY CMS IMPLEMENTATION AS IT PREVENTS INDEXING -->
<meta name="robots" content="noindex">

<!-- Facebook -->
<meta property="og:title" content="Framework">
<meta property="og:type" content="website">
<meta property="og:image" content="https://example.dev.fastspot.com/site/social.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="600">
<meta property="og:description" content="">
<meta property="og:site_name" content="Framework">

<!-- twitter -->

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5FWHMLH');</script>
<!-- End Google Tag Manager -->	</head>

	<body class="preload fs-grid theme-default ">
		

					<div>
				
<!-- People List -->
<div class="people_list">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="people_list_inner">
				<ul class="people_list_rows" id="item_list" aria-label="Title">
											<li class="people_list_row">
							<div class="people_list_item">
								<div class="people_list_item_header">
									<div class="people_list_item_info">
										<h2 class="people_list_item_name">
											<a class="people_list_item_name_link" href="page-directory-detail.html">Department or Office Name</a>
										</h2>
																			</div>
																			<figure class="people_list_item_figure">
											
<img class="people_list_item_image" srcset="https://images.fastspot.com/framework/300x300/1 300w, https://images.fastspot.com/framework/100x100/1 100w" src="https://images.fastspot.com/framework/100x100/1" alt="" loading="lazy" width="100" height="100">
										</figure>
																	</div>
								<div class="people_list_item_body">
									<div class="people_list_item_details">
																					<div class="people_list_item_detail contact">
																									<div class="people_list_item_detail_label">Contact</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Phone: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="tel:4105551234">
																<span class="people_list_item_detail_info_label">(410) 555-1234</span>
															</a>
														</div>
													</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Email: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="mailto:name@university.edu">
																<span class="people_list_item_detail_info_label">name@university.edu</span>
															</a>
														</div>
													</div>
																							</div>
																															<div class="people_list_item_detail department">
												<div class="people_list_item_detail_label">Department</div>
												<div class="people_list_item_detail_item">
													<div class="people_list_item_detail_item_header">
														<div class="people_list_item_detail_icon">
			<svg class="icon icon_building">
				<use href="/images/icons.svg#building" />
			</svg>
		</div>
													</div>
													<div class="people_list_item_detail_info">
														<a class="people_list_item_detail_info_link" href="#">
															<span class="people_list_item_detail_info_label">Department</span>
														</a>
													</div>
												</div>
											</div>
																															<div class="people_list_item_detail location">
												<div class="people_list_item_detail_item_header">
													<div class="people_list_item_detail_label">Location</div>
												</div>
												<div class="people_list_item_detail_item">
													<div class="people_list_item_detail_item_header">
														<div class="people_list_item_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</div>
													</div>
													<div class="people_list_item_detail_info">
														<span class="people_list_item_detail_info_label">Location</span>
													</div>
												</div>
											</div>
																			</div>
								</div>
							</div>
						</li>
											<li class="people_list_row">
							<div class="people_list_item">
								<div class="people_list_item_header">
									<div class="people_list_item_info">
										<h2 class="people_list_item_name">
											<a class="people_list_item_name_link" href="page-directory-detail.html">Cum sociis natoque penatibus</a>
										</h2>
																			</div>
																			<figure class="people_list_item_figure">
											
<img class="people_list_item_image" srcset="https://images.fastspot.com/framework/300x300/2 300w, https://images.fastspot.com/framework/100x100/2 100w" src="https://images.fastspot.com/framework/100x100/2" alt="" loading="lazy" width="100" height="100">
										</figure>
																	</div>
								<div class="people_list_item_body">
									<div class="people_list_item_details">
																					<div class="people_list_item_detail contact">
																									<div class="people_list_item_detail_label">Contact</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Phone: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="tel:4105551234">
																<span class="people_list_item_detail_info_label">(410) 555-1234</span>
															</a>
														</div>
													</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Email: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="mailto:npenatibus@university.edu">
																<span class="people_list_item_detail_info_label">npenatibus@university.edu</span>
															</a>
														</div>
													</div>
																							</div>
																															<div class="people_list_item_detail department">
												<div class="people_list_item_detail_label">Department</div>
												<div class="people_list_item_detail_item">
													<div class="people_list_item_detail_item_header">
														<div class="people_list_item_detail_icon">
			<svg class="icon icon_building">
				<use href="/images/icons.svg#building" />
			</svg>
		</div>
													</div>
													<div class="people_list_item_detail_info">
														<a class="people_list_item_detail_info_link" href="#">
															<span class="people_list_item_detail_info_label">Maecenas nec odio et ante tincidunt tempus</span>
														</a>
													</div>
												</div>
											</div>
																															<div class="people_list_item_detail location">
												<div class="people_list_item_detail_item_header">
													<div class="people_list_item_detail_label">Location</div>
												</div>
												<div class="people_list_item_detail_item">
													<div class="people_list_item_detail_item_header">
														<div class="people_list_item_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</div>
													</div>
													<div class="people_list_item_detail_info">
														<span class="people_list_item_detail_info_label">2980 Falls Road,<br> Baltimore, MD 21211</span>
													</div>
												</div>
											</div>
																			</div>
								</div>
							</div>
						</li>
											<li class="people_list_row">
							<div class="people_list_item">
								<div class="people_list_item_header">
									<div class="people_list_item_info">
										<h2 class="people_list_item_name">
											<a class="people_list_item_name_link" href="page-directory-detail.html">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</a>
										</h2>
																			</div>
																	</div>
								<div class="people_list_item_body">
									<div class="people_list_item_details">
																					<div class="people_list_item_detail contact">
																									<div class="people_list_item_detail_label">Contact</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Phone: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="tel:4105551234">
																<span class="people_list_item_detail_info_label">(410) 555-1234</span>
															</a>
														</div>
													</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Email: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="mailto:name@university.edu">
																<span class="people_list_item_detail_info_label">name@university.edu</span>
															</a>
														</div>
													</div>
																							</div>
																															<div class="people_list_item_detail department">
												<div class="people_list_item_detail_label">Department</div>
												<div class="people_list_item_detail_item">
													<div class="people_list_item_detail_item_header">
														<div class="people_list_item_detail_icon">
			<svg class="icon icon_building">
				<use href="/images/icons.svg#building" />
			</svg>
		</div>
													</div>
													<div class="people_list_item_detail_info">
														<a class="people_list_item_detail_info_link" href="#">
															<span class="people_list_item_detail_info_label">Curabitur</span>
														</a>
													</div>
												</div>
											</div>
																															<div class="people_list_item_detail location">
												<div class="people_list_item_detail_item_header">
													<div class="people_list_item_detail_label">Location</div>
												</div>
												<div class="people_list_item_detail_item">
													<div class="people_list_item_detail_item_header">
														<div class="people_list_item_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</div>
													</div>
													<div class="people_list_item_detail_info">
														<span class="people_list_item_detail_info_label">101</span>
													</div>
												</div>
											</div>
																			</div>
								</div>
							</div>
						</li>
											<li class="people_list_row">
							<div class="people_list_item">
								<div class="people_list_item_header">
									<div class="people_list_item_info">
										<h2 class="people_list_item_name">
											<a class="people_list_item_name_link" href="page-directory-detail.html">Department</a>
										</h2>
																			</div>
																			<figure class="people_list_item_figure">
											
<img class="people_list_item_image" srcset="https://images.fastspot.com/framework/300x300/3 300w, https://images.fastspot.com/framework/100x100/3 100w" src="https://images.fastspot.com/framework/100x100/3" alt="" loading="lazy" width="100" height="100">
										</figure>
																	</div>
								<div class="people_list_item_body">
									<div class="people_list_item_details">
																					<div class="people_list_item_detail contact">
																									<div class="people_list_item_detail_label">Contact</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Phone: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="tel:4105551234">
																<span class="people_list_item_detail_info_label">(410) 555-1234</span>
															</a>
														</div>
													</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Email: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="mailto:vivamus-elementum-semper@university.edu">
																<span class="people_list_item_detail_info_label">vivamus-elementum-semper@university.edu</span>
															</a>
														</div>
													</div>
																							</div>
																															<div class="people_list_item_detail department">
												<div class="people_list_item_detail_label">Department</div>
												<div class="people_list_item_detail_item">
													<div class="people_list_item_detail_item_header">
														<div class="people_list_item_detail_icon">
			<svg class="icon icon_building">
				<use href="/images/icons.svg#building" />
			</svg>
		</div>
													</div>
													<div class="people_list_item_detail_info">
														<a class="people_list_item_detail_info_link" href="#">
															<span class="people_list_item_detail_info_label">Cras dapibu</span>
														</a>
													</div>
												</div>
											</div>
																															<div class="people_list_item_detail location">
												<div class="people_list_item_detail_item_header">
													<div class="people_list_item_detail_label">Location</div>
												</div>
												<div class="people_list_item_detail_item">
													<div class="people_list_item_detail_item_header">
														<div class="people_list_item_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</div>
													</div>
													<div class="people_list_item_detail_info">
														<span class="people_list_item_detail_info_label">Donec pede justo, fringilla vel, aliquet nec</span>
													</div>
												</div>
											</div>
																			</div>
								</div>
							</div>
						</li>
											<li class="people_list_row">
							<div class="people_list_item">
								<div class="people_list_item_header">
									<div class="people_list_item_info">
										<h2 class="people_list_item_name">
											<a class="people_list_item_name_link" href="page-directory-detail.html">Office</a>
										</h2>
																			</div>
																	</div>
								<div class="people_list_item_body">
									<div class="people_list_item_details">
																					<div class="people_list_item_detail contact">
																									<div class="people_list_item_detail_label">Contact</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Phone: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="tel:4105551234">
																<span class="people_list_item_detail_info_label">(410) 555-1234</span>
															</a>
														</div>
													</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Email: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="mailto:name@university.edu">
																<span class="people_list_item_detail_info_label">name@university.edu</span>
															</a>
														</div>
													</div>
																							</div>
																															<div class="people_list_item_detail department">
												<div class="people_list_item_detail_label">Department</div>
												<div class="people_list_item_detail_item">
													<div class="people_list_item_detail_item_header">
														<div class="people_list_item_detail_icon">
			<svg class="icon icon_building">
				<use href="/images/icons.svg#building" />
			</svg>
		</div>
													</div>
													<div class="people_list_item_detail_info">
														<a class="people_list_item_detail_info_link" href="#">
															<span class="people_list_item_detail_info_label">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem</span>
														</a>
													</div>
												</div>
											</div>
																															<div class="people_list_item_detail location">
												<div class="people_list_item_detail_item_header">
													<div class="people_list_item_detail_label">Location</div>
												</div>
												<div class="people_list_item_detail_item">
													<div class="people_list_item_detail_item_header">
														<div class="people_list_item_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</div>
													</div>
													<div class="people_list_item_detail_info">
														<span class="people_list_item_detail_info_label">Duffy 254</span>
													</div>
												</div>
											</div>
																			</div>
								</div>
							</div>
						</li>
											<li class="people_list_row">
							<div class="people_list_item">
								<div class="people_list_item_header">
									<div class="people_list_item_info">
										<h2 class="people_list_item_name">
											<a class="people_list_item_name_link" href="page-directory-detail.html">Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.</a>
										</h2>
																			</div>
																	</div>
								<div class="people_list_item_body">
									<div class="people_list_item_details">
																					<div class="people_list_item_detail contact">
																									<div class="people_list_item_detail_label">Contact</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Phone: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="tel:4105551234">
																<span class="people_list_item_detail_info_label">(410) 555-1234</span>
															</a>
														</div>
													</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Email: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="mailto:email@university.edu">
																<span class="people_list_item_detail_info_label">email@university.edu</span>
															</a>
														</div>
													</div>
																							</div>
																															<div class="people_list_item_detail department">
												<div class="people_list_item_detail_label">Department</div>
												<div class="people_list_item_detail_item">
													<div class="people_list_item_detail_item_header">
														<div class="people_list_item_detail_icon">
			<svg class="icon icon_building">
				<use href="/images/icons.svg#building" />
			</svg>
		</div>
													</div>
													<div class="people_list_item_detail_info">
														<a class="people_list_item_detail_info_link" href="#">
															<span class="people_list_item_detail_info_label">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu</span>
														</a>
													</div>
												</div>
											</div>
																															<div class="people_list_item_detail location">
												<div class="people_list_item_detail_item_header">
													<div class="people_list_item_detail_label">Location</div>
												</div>
												<div class="people_list_item_detail_item">
													<div class="people_list_item_detail_item_header">
														<div class="people_list_item_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</div>
													</div>
													<div class="people_list_item_detail_info">
														<span class="people_list_item_detail_info_label">Aenean vulputate eleifend tellus. Aenean leo ligula.</span>
													</div>
												</div>
											</div>
																			</div>
								</div>
							</div>
						</li>
											<li class="people_list_row">
							<div class="people_list_item">
								<div class="people_list_item_header">
									<div class="people_list_item_info">
										<h2 class="people_list_item_name">
											<a class="people_list_item_name_link" href="page-directory-detail.html">Aliquam lorem</a>
										</h2>
																			</div>
																	</div>
								<div class="people_list_item_body">
									<div class="people_list_item_details">
																					<div class="people_list_item_detail contact">
																									<div class="people_list_item_detail_label">Contact</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Phone: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="tel:4105551234">
																<span class="people_list_item_detail_info_label">(410) 555-1234</span>
															</a>
														</div>
													</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Email: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="mailto:vulputate-eget@university.edu">
																<span class="people_list_item_detail_info_label">vulputate-eget@university.edu</span>
															</a>
														</div>
													</div>
																							</div>
																															<div class="people_list_item_detail department">
												<div class="people_list_item_detail_label">Department</div>
												<div class="people_list_item_detail_item">
													<div class="people_list_item_detail_item_header">
														<div class="people_list_item_detail_icon">
			<svg class="icon icon_building">
				<use href="/images/icons.svg#building" />
			</svg>
		</div>
													</div>
													<div class="people_list_item_detail_info">
														<a class="people_list_item_detail_info_link" href="#">
															<span class="people_list_item_detail_info_label">Etiam sit amet orci</span>
														</a>
													</div>
												</div>
											</div>
																															<div class="people_list_item_detail location">
												<div class="people_list_item_detail_item_header">
													<div class="people_list_item_detail_label">Location</div>
												</div>
												<div class="people_list_item_detail_item">
													<div class="people_list_item_detail_item_header">
														<div class="people_list_item_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</div>
													</div>
													<div class="people_list_item_detail_info">
														<span class="people_list_item_detail_info_label">Etiam rhoncus</span>
													</div>
												</div>
											</div>
																			</div>
								</div>
							</div>
						</li>
											<li class="people_list_row">
							<div class="people_list_item">
								<div class="people_list_item_header">
									<div class="people_list_item_info">
										<h2 class="people_list_item_name">
											<a class="people_list_item_name_link" href="page-directory-detail.html">Phasellus viverra nulla ut metus varius laoreet.</a>
										</h2>
																			</div>
																			<figure class="people_list_item_figure">
											
<img class="people_list_item_image" srcset="https://images.fastspot.com/framework/300x300/4 300w, https://images.fastspot.com/framework/100x100/4 100w" src="https://images.fastspot.com/framework/100x100/4" alt="" loading="lazy" width="100" height="100">
										</figure>
																	</div>
								<div class="people_list_item_body">
									<div class="people_list_item_details">
																					<div class="people_list_item_detail contact">
																									<div class="people_list_item_detail_label">Contact</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Phone: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="tel:4105551234">
																<span class="people_list_item_detail_info_label">(410) 555-1234</span>
															</a>
														</div>
													</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Email: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="mailto:pretium@university.edu">
																<span class="people_list_item_detail_info_label">pretium@university.edu</span>
															</a>
														</div>
													</div>
																							</div>
																															<div class="people_list_item_detail department">
												<div class="people_list_item_detail_label">Department</div>
												<div class="people_list_item_detail_item">
													<div class="people_list_item_detail_item_header">
														<div class="people_list_item_detail_icon">
			<svg class="icon icon_building">
				<use href="/images/icons.svg#building" />
			</svg>
		</div>
													</div>
													<div class="people_list_item_detail_info">
														<a class="people_list_item_detail_info_link" href="#">
															<span class="people_list_item_detail_info_label">Donec vitae sapien ut libero venenatis faucibus</span>
														</a>
													</div>
												</div>
											</div>
																															<div class="people_list_item_detail location">
												<div class="people_list_item_detail_item_header">
													<div class="people_list_item_detail_label">Location</div>
												</div>
												<div class="people_list_item_detail_item">
													<div class="people_list_item_detail_item_header">
														<div class="people_list_item_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</div>
													</div>
													<div class="people_list_item_detail_info">
														<span class="people_list_item_detail_info_label">Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</span>
													</div>
												</div>
											</div>
																			</div>
								</div>
							</div>
						</li>
											<li class="people_list_row">
							<div class="people_list_item">
								<div class="people_list_item_header">
									<div class="people_list_item_info">
										<h2 class="people_list_item_name">
											<a class="people_list_item_name_link" href="page-directory-detail.html">Quisque rutrum</a>
										</h2>
																			</div>
																	</div>
								<div class="people_list_item_body">
									<div class="people_list_item_details">
																					<div class="people_list_item_detail contact">
																									<div class="people_list_item_detail_label">Contact</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Phone: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="tel:4105551234">
																<span class="people_list_item_detail_info_label">(410) 555-1234</span>
															</a>
														</div>
													</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Email: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="mailto:IntegerTincidunt@university.edu">
																<span class="people_list_item_detail_info_label">IntegerTincidunt@university.edu</span>
															</a>
														</div>
													</div>
																							</div>
																															<div class="people_list_item_detail department">
												<div class="people_list_item_detail_label">Department</div>
												<div class="people_list_item_detail_item">
													<div class="people_list_item_detail_item_header">
														<div class="people_list_item_detail_icon">
			<svg class="icon icon_building">
				<use href="/images/icons.svg#building" />
			</svg>
		</div>
													</div>
													<div class="people_list_item_detail_info">
														<a class="people_list_item_detail_info_link" href="#">
															<span class="people_list_item_detail_info_label">Nonummy</span>
														</a>
													</div>
												</div>
											</div>
																															<div class="people_list_item_detail location">
												<div class="people_list_item_detail_item_header">
													<div class="people_list_item_detail_label">Location</div>
												</div>
												<div class="people_list_item_detail_item">
													<div class="people_list_item_detail_item_header">
														<div class="people_list_item_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</div>
													</div>
													<div class="people_list_item_detail_info">
														<span class="people_list_item_detail_info_label">Aliquam lorem ante</span>
													</div>
												</div>
											</div>
																			</div>
								</div>
							</div>
						</li>
											<li class="people_list_row">
							<div class="people_list_item">
								<div class="people_list_item_header">
									<div class="people_list_item_info">
										<h2 class="people_list_item_name">
											<a class="people_list_item_name_link" href="page-directory-detail.html">Etiam ultricies nisi vel augue</a>
										</h2>
																			</div>
																	</div>
								<div class="people_list_item_body">
									<div class="people_list_item_details">
																					<div class="people_list_item_detail contact">
																									<div class="people_list_item_detail_label">Contact</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Phone: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="tel:4105551234">
																<span class="people_list_item_detail_info_label">(410) 555-1234</span>
															</a>
														</div>
													</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Email: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="mailto:aenean@university.edu">
																<span class="people_list_item_detail_info_label">aenean@university.edu</span>
															</a>
														</div>
													</div>
																							</div>
																															<div class="people_list_item_detail department">
												<div class="people_list_item_detail_label">Department</div>
												<div class="people_list_item_detail_item">
													<div class="people_list_item_detail_item_header">
														<div class="people_list_item_detail_icon">
			<svg class="icon icon_building">
				<use href="/images/icons.svg#building" />
			</svg>
		</div>
													</div>
													<div class="people_list_item_detail_info">
														<a class="people_list_item_detail_info_link" href="#">
															<span class="people_list_item_detail_info_label">Quisque rutrum</span>
														</a>
													</div>
												</div>
											</div>
																															<div class="people_list_item_detail location">
												<div class="people_list_item_detail_item_header">
													<div class="people_list_item_detail_label">Location</div>
												</div>
												<div class="people_list_item_detail_item">
													<div class="people_list_item_detail_item_header">
														<div class="people_list_item_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</div>
													</div>
													<div class="people_list_item_detail_info">
														<span class="people_list_item_detail_info_label">viverra quis</span>
													</div>
												</div>
											</div>
																			</div>
								</div>
							</div>
						</li>
											<li class="people_list_row">
							<div class="people_list_item">
								<div class="people_list_item_header">
									<div class="people_list_item_info">
										<h2 class="people_list_item_name">
											<a class="people_list_item_name_link" href="page-directory-detail.html">Nam eget dui</a>
										</h2>
																			</div>
																	</div>
								<div class="people_list_item_body">
									<div class="people_list_item_details">
																					<div class="people_list_item_detail contact">
																									<div class="people_list_item_detail_label">Contact</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Phone: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="tel:4105551234">
																<span class="people_list_item_detail_info_label">(410) 555-1234</span>
															</a>
														</div>
													</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Email: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="mailto:nam-eget-dui@university.edu">
																<span class="people_list_item_detail_info_label">nam-eget-dui@university.edu</span>
															</a>
														</div>
													</div>
																							</div>
																															<div class="people_list_item_detail department">
												<div class="people_list_item_detail_label">Department</div>
												<div class="people_list_item_detail_item">
													<div class="people_list_item_detail_item_header">
														<div class="people_list_item_detail_icon">
			<svg class="icon icon_building">
				<use href="/images/icons.svg#building" />
			</svg>
		</div>
													</div>
													<div class="people_list_item_detail_info">
														<a class="people_list_item_detail_info_link" href="#">
															<span class="people_list_item_detail_info_label">Phasellus viverra nulla ut metus varius laoreet</span>
														</a>
													</div>
												</div>
											</div>
																															<div class="people_list_item_detail location">
												<div class="people_list_item_detail_item_header">
													<div class="people_list_item_detail_label">Location</div>
												</div>
												<div class="people_list_item_detail_item">
													<div class="people_list_item_detail_item_header">
														<div class="people_list_item_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</div>
													</div>
													<div class="people_list_item_detail_info">
														<span class="people_list_item_detail_info_label">ultricies nisi vel augue</span>
													</div>
												</div>
											</div>
																			</div>
								</div>
							</div>
						</li>
											<li class="people_list_row">
							<div class="people_list_item">
								<div class="people_list_item_header">
									<div class="people_list_item_info">
										<h2 class="people_list_item_name">
											<a class="people_list_item_name_link" href="page-directory-detail.html">Maecenas nec odio et ante tincidunt tempus.</a>
										</h2>
																			</div>
																			<figure class="people_list_item_figure">
											
<img class="people_list_item_image" srcset="https://images.fastspot.com/framework/300x300/1 300w, https://images.fastspot.com/framework/100x100/1 100w" src="https://images.fastspot.com/framework/100x100/1" alt="" loading="lazy" width="100" height="100">
										</figure>
																	</div>
								<div class="people_list_item_body">
									<div class="people_list_item_details">
																					<div class="people_list_item_detail contact">
																									<div class="people_list_item_detail_label">Contact</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Phone: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="tel:4105551234">
																<span class="people_list_item_detail_info_label">(410) 555-1234</span>
															</a>
														</div>
													</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Email: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="mailto:Maecenas@university.edu">
																<span class="people_list_item_detail_info_label">Maecenas@university.edu</span>
															</a>
														</div>
													</div>
																							</div>
																															<div class="people_list_item_detail department">
												<div class="people_list_item_detail_label">Department</div>
												<div class="people_list_item_detail_item">
													<div class="people_list_item_detail_item_header">
														<div class="people_list_item_detail_icon">
			<svg class="icon icon_building">
				<use href="/images/icons.svg#building" />
			</svg>
		</div>
													</div>
													<div class="people_list_item_detail_info">
														<a class="people_list_item_detail_info_link" href="#">
															<span class="people_list_item_detail_info_label">scelerisque</span>
														</a>
													</div>
												</div>
											</div>
																															<div class="people_list_item_detail location">
												<div class="people_list_item_detail_item_header">
													<div class="people_list_item_detail_label">Location</div>
												</div>
												<div class="people_list_item_detail_item">
													<div class="people_list_item_detail_item_header">
														<div class="people_list_item_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</div>
													</div>
													<div class="people_list_item_detail_info">
														<span class="people_list_item_detail_info_label">dolor</span>
													</div>
												</div>
											</div>
																			</div>
								</div>
							</div>
						</li>
									</ul>
				<div class="people_list_pagination">
					
<!-- Pagination -->
<div class="pagination">
	<nav class="pagination_nav" aria-label="Directory Pagination">
		<a class="pagination_arrow pagination_arrow_left pagination_arrow_disabled" href="#">
			<span class="pagination_arrow_icon">
			<svg class="icon icon_caret_left">
				<use href="/images/icons.svg#caret_left" />
			</svg>
		</span>
			<span class="pagination_arrow_label">Previous Page</span>
		</a>
		<a class="pagination_arrow pagination_arrow_right" href="#">
			<span class="pagination_arrow_label">Next Page</span>
			<span class="pagination_arrow_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
		</a>
	</nav>
	<form class="pagination_form" action="#" method="get">
		<div class="pagination_form_inner">
			<label class="pagination_form_label" for="pagination_form_select">Page</label>
			<div class="pagination_form_select_wrapper">
				<select class="pagination_form_select" name="page" id="pagination_form_select" aria-label="Select Page Number">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="16">16</option>
											<option value="17">17</option>
											<option value="18">18</option>
											<option value="19">19</option>
											<option value="20">20</option>
											<option value="21">21</option>
											<option value="22">22</option>
											<option value="23">23</option>
											<option value="24">24</option>
											<option value="25">25</option>
											<option value="26">26</option>
											<option value="27">27</option>
											<option value="28">28</option>
											<option value="29">29</option>
											<option value="30">30</option>
											<option value="31">31</option>
											<option value="32">32</option>
											<option value="33">33</option>
											<option value="34">34</option>
											<option value="35">35</option>
											<option value="36">36</option>
											<option value="37">37</option>
											<option value="38">38</option>
											<option value="39">39</option>
											<option value="40">40</option>
											<option value="41">41</option>
											<option value="42">42</option>
											<option value="43">43</option>
											<option value="44">44</option>
											<option value="45">45</option>
											<option value="46">46</option>
											<option value="47">47</option>
											<option value="48">48</option>
											<option value="49">49</option>
											<option value="50">50</option>
									</select>
				<span class="pagination_form_select_icon">
			<svg class="icon icon_expand">
				<use href="/images/icons.svg#expand" />
			</svg>
		</span>
			</div>
			<span class="pagination_form_suffix">of 50</span>
			<button class="pagination_form_button" type="submit" aria-label="View Page">Go</button>
		</div>
	</form>
</div>
<!-- END: Pagination -->				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: People List -->
			</div>
		
		<script>
			var WWW_ROOT = "";
			var STATIC_ROOT = "../../index.html";
			var STATIC_ICONS_PATH = "../../images/icons.svg";
		</script>

		<script src="../../vendor/jquery/jquery.3.5.1.min.js"></script>

					
		
		<script src="../../js/site.js"></script>

					
		
		
		<link id="fs-grid-styles" rel="stylesheet" href="../../vendor/formstone/bookmarklet/bookmarklet.1.2.1.css" type="text/css" media="all">
		<script src="../../vendor/formstone/bookmarklet/bookmarklet.1.2.1.js"></script>
		<script>
			$(window).on('load', function () {
				new FSGridBookmarklet();
			});
		</script>
	</body>
</html>

