{% include '@partial-page-header' with {
	page: page
} %}

<!-- Full Width Callouts -->
<div class="full_width_callouts" id="page_content" tabindex="-1" aria-labelledby="page_title">
	{% include '@partial-filter' with {
		label: '',
		active: 'search',
		action_category: '#',
		action_search: '#',
		tools: [
			{
				label: 'Department',
				options: [
					{
						label: 'All Departments'
					},
					{
						label: 'Department One'
					},
					{
						label: 'Another Department'
					}
				]
			}
		],
		search_placeholder: 'Search by name or department',
		results: '',
		category: ''
	} %}

	{% include '@partial-people-list' with {
		title: page.title,
		items: [
			{
				name: 'Jane Smith',
				title: 'Director of Department',
				url: 'page-people-detail.html',
				image: '1',
				contact: {
					email: 'name@university.edu',
					phone: '(410) 555-1234'
				},
				location: 'Location',
				department: {
					url: '#',
					label: 'Department of Biology'
				}
			},
			{
				name: 'Cum sociis natoque',
				title: 'Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem',
				url: 'page-people-detail.html',
				image: '2',
				contact: {
					email: 'quisque-rutrum@university.edu',
					phone: ''
				},
				location: '',
				department: {
					url: '#',
					label: 'Aenean commodo ligula eget dolor'
				}
			},
			{
				name: 'Aenean massa',
				title: 'Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus',
				url: 'page-people-detail.html',
				image: '3',
				contact: {
					email: 'name@university.edu',
					phone: '(410) 555-1234'
				},
				location: 'Location',
				department: {
					url: '#',
					label: 'Mmagnis'
				}
			},
			{
				name: 'Jane Smith',
				title: '',
				url: 'page-people-detail.html',
				image: '',
				contact: {
					email: 'name@university.edu',
					phone: '(410) 555-1234'
				},
				location: 'Location',
				department: {
					url: '#',
					label: 'Department of Biology'
				}
			},
			{
				name: 'Quisque rutrum',
				title: 'Director of Department',
				url: 'page-people-detail.html',
				image: '4',
				contact: {
					email: 'Director@university.edu',
					phone: '(410) 555-1234'
				},
				location: '',
				department: ''
			},
			{
				name: 'Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu',
				title: '',
				url: 'page-people-detail.html',
				image: '',
				contact: {
					email: 'enim-justo@university.edu',
					phone: '(410) 555-1234'
				},
				location: '',
				department: {
					url: '#',
					label: 'Department of Biology'
				}
			},
			{
				name: 'Jane Smith',
				title: 'Director of Department',
				url: 'page-people-detail.html',
				image: '1',
				contact: {
					email: 'name@university.edu',
					phone: '(410) 555-1234'
				},
				location: '',
				department: {
					url: '#',
					label: 'Department of Biology'
				}
			},
			{
				name: 'Nam Eget Dui',
				title: 'Director of Department',
				url: 'page-people-detail.html',
				image: '2',
				contact: {
					email: 'name@university.edu',
					phone: '(410) 555-1234'
				},
				location: '',
				department: {
					url: '#',
					label: 'Department of Biology'
				}
			},
			{
				name: 'Curabitur',
				title: 'Director of Department',
				url: 'page-people-detail.html',
				image: '3',
				contact: {
					email: 'name@university.edu',
					phone: '(410) 555-1234'
				},
				location: '',
				department: {
					url: '#',
					label: 'Department of Biology'
				}
			},
			{
				name: 'Curabitur Ullamcorper',
				title: '',
				url: 'page-people-detail.html',
				image: '',
				contact: '',
				location: '',
				department: ''
			},
			{
				name: 'Donec Pede',
				title: 'Director of Department',
				url: 'page-people-detail.html',
				image: '4',
				contact: {
					email: 'name@university.edu',
					phone: ''
				},
				location: '',
				department: {
					url: '#',
					label: 'Nam eget dui. Etiam rhoncus'
				}
			},
			{
				name: 'Aenean Vulputate Eleifend',
				title: 'Director of Department',
				url: 'page-people-detail.html',
				image: '1',
				contact: {
					email: 'name@university.edu',
					phone: '(410) 555-1234'
				},
				location: '',
				department: {
					url: '#',
					label: 'Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus'
				}
			}
		]
	} %}
</div>