{% include '@partial-page-header' with {
	page: page
} %}

<!-- Page Feature -->
<div class="page_feature" id="page_content" tabindex="-1" aria-labelledby="page_title">
	{% render '@partial-program-meta' %}
</div>
<!-- END: Page Feature -->

<!-- Page Content -->
<div class="page_content">
	<div class="fs-row">
		<div
			class="fs-cell">
			<!-- WYSIWYG -->
			<div class="typography">
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. <a href="#">Nulla consequat</a> massa quis enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem</p>
			</div>
			<!-- END: WYSIWYG -->
		</div>
	</div>
</div>
<!-- END: Page Content -->

<!-- Full Width Callouts -->
<div class="full_width_callouts">
	{% render '@component-accordion' %}

	{% render '@component-card-group' %}

	{% render '@component-testimonial' %}

	{% render '@component-gallery' %}
</div>
<!-- END: Full Width Callouts -->
