



	
<!-- Card Group -->
<div class="card_group">
			<div class="card_group_header">
			<div class="fs-row">
				<div class="fs-cell">
					<div class="card_group_header_inner">
													<h2 class="card_group_title">Facts & Figures</h2>
																			<div class="card_group_description">
								<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auct.</p>
							</div>
											</div>
				</div>
			</div>
		</div>
		<div class="card_group_body">
		<div class="fs-row">
			<div class="fs-cell">
				<ul class="card_group_items card_count_2"  aria-label="Facts & Figures" >
											<li class="card_group_item">
							<figure class="card_group_item_figure">
								
<img class="card_group_item_image" srcset="https://images.fastspot.com/framework/740x494/1 740w, https://images.fastspot.com/framework/500x334/1 500w, https://images.fastspot.com/framework/300x200/1 300w" src="https://images.fastspot.com/framework/300x200/1" alt="" loading="lazy" width="300" height="200">
							</figure>
							<div class="card_group_item_body">
																											<h3 class="card_group_item_title">
																				<span class="card_group_item_title_label">Ornare Egestas</span>
																			</h3>
																									<div class="card_group_item_description">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est sed ex pretium fringilla. Vivamus ac turpis quis eros consectetur ornare.</p>
								</div>
							</div>
						</li>
									</ul>
			</div>
		</div>
	</div>
</div>
<!-- END: Card Group -->
