



<!-- Link Group -->
<div class="link_group">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="link_group_inner">
				<div class="link_group_header">
					<h2 class="link_group_title">Ipsum Fermentum Tristique</h2>
				</div>
				<ul class="link_group_list">
											<li class="link_group_item">
							<a class="link_group_link" href="#" >
								<span class="link_group_link_inner">
									<span class="link_group_link_label">Standard Link With Title</span>
																	</span>
							</a>
						</li>
											<li class="link_group_item">
							<a class="link_group_link" href="#" >
								<span class="link_group_link_inner">
									<span class="link_group_link_label">Standard Link With Title</span>
																	</span>
							</a>
						</li>
											<li class="link_group_item">
							<a class="link_group_link" href="#" >
								<span class="link_group_link_inner">
									<span class="link_group_link_label">Ipsum Consectetur Pharetra Purus Quam Consectetur Pharetra</span>
																	</span>
							</a>
						</li>
											<li class="link_group_item">
							<a class="link_group_link" href="#" >
								<span class="link_group_link_inner">
									<span class="link_group_link_label">Standard Link With Title</span>
																	</span>
							</a>
						</li>
											<li class="link_group_item">
							<a class="link_group_link" href="#"  target="_blank" >
								<span class="link_group_link_inner">
									<span class="link_group_link_label">External Link With Title</span>
																			<span class="link_group_link_icon">
			<svg class="icon icon_external">
				<use href="/images/icons.svg#external" />
			</svg>
		</span>
																	</span>
							</a>
						</li>
											<li class="link_group_item">
							<a class="link_group_link" href="#"  target="_blank" >
								<span class="link_group_link_inner">
									<span class="link_group_link_label">File Link With Title</span>
																			<span class="link_group_link_icon">
			<svg class="icon icon_file">
				<use href="/images/icons.svg#file" />
			</svg>
		</span>
																	</span>
							</a>
						</li>
											<li class="link_group_item">
							<a class="link_group_link" href="#" >
								<span class="link_group_link_inner">
									<span class="link_group_link_label">Standard Link With Title</span>
																	</span>
							</a>
						</li>
											<li class="link_group_item">
							<a class="link_group_link" href="#" >
								<span class="link_group_link_inner">
									<span class="link_group_link_label">Standard Link With Title</span>
																	</span>
							</a>
						</li>
									</ul>
			</div>
		</div>
	</div>
</div>
<!-- END: Link Group -->
