



<!-- Testimonial -->
<div class="testimonial">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="testimonial_inner">
				<figure class="testimonial_figure">
					<blockquote class="testimonial_quote">
						<span class="testimonial_quote_open">&ldquo;</span>
						<p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Praesent eget est sed ex pretium fringilla. Vivamus <em>ac turpis quis eros consectetur</em> ornare. Proin pulvinar, magna id vulputate commodo, metus massa tincidunt lorem, <a href="#">non elementum urna dui sed</a> neque. Nulla non ipsum fermentum, fermentum tellus ut, viverra est. Interdum et malesuada fames ac ant faucibus&rdquo;.</p>
					</blockquote>
					<figcaption class="testimonial_figcaption">
													<span class="testimonial_media">
								
<img class="testimonial_image" srcset="https://images.fastspot.com/framework/300x300/1 300w, https://images.fastspot.com/framework/100x100/1 100w" src="https://images.fastspot.com/framework/100x100/1" alt="" loading="lazy" width="100" height="100">
							</span>
												<span class="testimonial_info">
							<span class="testimonial_quote_name">Full Name</span>
															<span class="testimonial_quote_title">Senior Director of Department</span>
													</span>
					</figcaption>
				</figure>
			</div>
		</div>
	</div>
</div>
<!-- END: Testimonial -->
