




<!-- Accordion -->
<div class="js-accordion accordion">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="accordion_inner">
									<div class="accordion_header">
													<h2 class="accordion_title">
								<span class="accordion_title_label">Admissions Deadlines</span>
							</h2>
																			<div class="accordion_description">
								<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auct.</p>
							</div>
											</div>
								<div class="accordion_items">
											<div class="js-accordion-item js-accordion-item-1-1 accordion_item">
															<h3 class="accordion_item_heading">
															<button class="js-accordion-swap js-swap accordion_item_button" data-swap-target=".js-accordion-item-1-1" >
									<span class="accordion_item_heading_inner">
										<span class="accordion_item_heading_label">
											<span class="accordion_item_heading_title">Mar 15</span>
																							<span class="accordion_item_heading_subtitle">Quam Bibendum Pellentesque Tellus</span>
																					</span>
										<span class="accordion_item_heading_icon"></span>
									</span>
								</button>
															</h3>
														<div class="js-accordion-content accordion_item_content typography" aria-label="Mar 15 Quam Bibendum Pellentesque Tellus">
								Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. <a href="#">Donec ullamcorper nulla</a> non metus auctor fringilla.
							</div>
						</div>
											<div class="js-accordion-item js-accordion-item-1-2 accordion_item">
															<h3 class="accordion_item_heading">
															<button class="js-accordion-swap js-swap accordion_item_button" data-swap-target=".js-accordion-item-1-2" >
									<span class="accordion_item_heading_inner">
										<span class="accordion_item_heading_label">
											<span class="accordion_item_heading_title">June 16</span>
																							<span class="accordion_item_heading_subtitle">Quam Bibendum Pellentesque Tellus</span>
																					</span>
										<span class="accordion_item_heading_icon"></span>
									</span>
								</button>
															</h3>
														<div class="js-accordion-content accordion_item_content typography" aria-label="June 16 Quam Bibendum Pellentesque Tellus">
								Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. <a href="#">Donec ullamcorper nulla</a> non metus auctor fringilla.
							</div>
						</div>
											<div class="js-accordion-item js-accordion-item-1-3 accordion_item">
															<h3 class="accordion_item_heading">
															<button class="js-accordion-swap js-swap accordion_item_button" data-swap-target=".js-accordion-item-1-3" >
									<span class="accordion_item_heading_inner">
										<span class="accordion_item_heading_label">
											<span class="accordion_item_heading_title">Vulputate Porta Egestas Magna Dolor</span>
																					</span>
										<span class="accordion_item_heading_icon"></span>
									</span>
								</button>
															</h3>
														<div class="js-accordion-content accordion_item_content typography" aria-label="Vulputate Porta Egestas Magna Dolor">
								Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. <a href="#">Donec ullamcorper nulla</a> non metus auctor fringilla.
							</div>
						</div>
											<div class="js-accordion-item js-accordion-item-1-4 accordion_item">
															<h3 class="accordion_item_heading">
															<button class="js-accordion-swap js-swap accordion_item_button" data-swap-target=".js-accordion-item-1-4" >
									<span class="accordion_item_heading_inner">
										<span class="accordion_item_heading_label">
											<span class="accordion_item_heading_title">August 12 - August 17</span>
																							<span class="accordion_item_heading_subtitle">Quam Bibendum Pellentesque Tellus</span>
																					</span>
										<span class="accordion_item_heading_icon"></span>
									</span>
								</button>
															</h3>
														<div class="js-accordion-content accordion_item_content typography" aria-label="August 12 - August 17 Quam Bibendum Pellentesque Tellus">
								Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. <a href="#">Donec ullamcorper nulla</a> non metus auctor fringilla.
							</div>
						</div>
											<div class="js-accordion-item js-accordion-item-1-5 accordion_item">
															<h3 class="accordion_item_heading">
															<button class="js-accordion-swap js-swap accordion_item_button" data-swap-target=".js-accordion-item-1-5" >
									<span class="accordion_item_heading_inner">
										<span class="accordion_item_heading_label">
											<span class="accordion_item_heading_title">Lorem Tellus Sollicitudin Mollis</span>
																							<span class="accordion_item_heading_subtitle">Quam Bibendum Pellentesque Tellus</span>
																					</span>
										<span class="accordion_item_heading_icon"></span>
									</span>
								</button>
															</h3>
														<div class="js-accordion-content accordion_item_content typography" aria-label="Lorem Tellus Sollicitudin Mollis Quam Bibendum Pellentesque Tellus">
								Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. <a href="#">Donec ullamcorper nulla</a> non metus auctor fringilla.
							</div>
						</div>
											<div class="js-accordion-item js-accordion-item-1-6 accordion_item">
															<h3 class="accordion_item_heading">
															<button class="js-accordion-swap js-swap accordion_item_button" data-swap-target=".js-accordion-item-1-6" >
									<span class="accordion_item_heading_inner">
										<span class="accordion_item_heading_label">
											<span class="accordion_item_heading_title">Vulputate Porta Egestas Magna Dolor</span>
																					</span>
										<span class="accordion_item_heading_icon"></span>
									</span>
								</button>
															</h3>
														<div class="js-accordion-content accordion_item_content typography" aria-label="Vulputate Porta Egestas Magna Dolor">
								Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. <a href="#">Donec ullamcorper nulla</a> non metus auctor fringilla.
							</div>
						</div>
											<div class="js-accordion-item js-accordion-item-1-7 accordion_item">
															<h3 class="accordion_item_heading">
															<button class="js-accordion-swap js-swap accordion_item_button" data-swap-target=".js-accordion-item-1-7" >
									<span class="accordion_item_heading_inner">
										<span class="accordion_item_heading_label">
											<span class="accordion_item_heading_title">Lorem Tellus Sollicitudin Mollis</span>
																							<span class="accordion_item_heading_subtitle">Quam Bibendum Pellentesque Tellus</span>
																					</span>
										<span class="accordion_item_heading_icon"></span>
									</span>
								</button>
															</h3>
														<div class="js-accordion-content accordion_item_content typography" aria-label="Lorem Tellus Sollicitudin Mollis Quam Bibendum Pellentesque Tellus">
								Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. <a href="#">Donec ullamcorper nulla</a> non metus auctor fringilla.
							</div>
						</div>
									</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Accordion -->
