



<!-- Spotlight -->
<div class="spotlight">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="spotlight_inner">
				<div class="spotlight_text">
					<h2 class="spotlight_title">
													<span class="spotlight_title_row">Partner.</span>
													<span class="spotlight_title_row">Invest.</span>
													<span class="spotlight_title_row">Monetize.</span>
											</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="spotlight_media">
		<img class="spotlight_image" src="../../images/dark-fiber.png" alt="dark fiber" />
		<div class="spotlight_bubbles" aria-hidden="true">
							<span class="spotlight_bubble spotlight_bubble_foreground"></span>
							<span class="spotlight_bubble spotlight_bubble_foreground"></span>
							<span class="spotlight_bubble spotlight_bubble_foreground"></span>
							<span class="spotlight_bubble spotlight_bubble_foreground"></span>
							<span class="spotlight_bubble spotlight_bubble_foreground"></span>
							<span class="spotlight_bubble spotlight_bubble_foreground"></span>
							<span class="spotlight_bubble spotlight_bubble_foreground"></span>
							<span class="spotlight_bubble spotlight_bubble_foreground"></span>
							<span class="spotlight_bubble spotlight_bubble_foreground"></span>
							<span class="spotlight_bubble spotlight_bubble_foreground"></span>
							<span class="spotlight_bubble spotlight_bubble_foreground"></span>
					</div>
		<div class="spotlight_bubbles" aria-hidden="true">
							<span class="spotlight_bubble spotlight_bubble_background"></span>
							<span class="spotlight_bubble spotlight_bubble_background"></span>
							<span class="spotlight_bubble spotlight_bubble_background"></span>
							<span class="spotlight_bubble spotlight_bubble_background"></span>
							<span class="spotlight_bubble spotlight_bubble_background"></span>
							<span class="spotlight_bubble spotlight_bubble_background"></span>
							<span class="spotlight_bubble spotlight_bubble_background"></span>
							<span class="spotlight_bubble spotlight_bubble_background"></span>
							<span class="spotlight_bubble spotlight_bubble_background"></span>
							<span class="spotlight_bubble spotlight_bubble_background"></span>
							<span class="spotlight_bubble spotlight_bubble_background"></span>
					</div>
	</div>
</div>
<!-- END: Spotlight -->
