



<!-- Text Block -->
<div class="text_image_block">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="text_image_block_inner">
				<div class="text_image_block_main">
					<h2>What we do</h2><p>Critical Infrastructure Partners (CIP) is a private investment company focused on telecommunication infrastructure with an emphasis on middle and long-haul dark fiber optic routes throughout North America. </p><p>We partner with best-in-class telecom providers and hyperscale users to provide best-in-class solutions to their clients and end users.</p>
				</div>
				<div class="text_image_block_media">
					<img class="text_image_block_image" src="../../images/orange-fiber.png" alt="orange fiber" />
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Text Block -->
