

<!-- Header -->
<header class="js-header header" id="header">
	<noscript>
		<iframe src="//www.googletagmanager.com/ns.html?id=GTM-K6P58WP" height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>

	<a class="skip_link skip_main" id="skip_main_link" href="#page_title">Skip Main Navigation</a>

	
	<div class="header_primary">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="header_primary_inner">
					<div class="header_logo">
						
<div class="logo logo_header logo_icon">
	<a class="logo_link" href="page-home.html">
		<span class="logo_link_label">Critical Infrastructure Partners</span>
					<span class="logo_link_icon">
			<svg class="icon icon_logo">
				<use href="/images/icons.svg#logo" />
			</svg>
		</span>
			</a>
	</div>					</div>

					<div class="header_hint">Investor Access</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- END: Header -->

