

<!-- Footer -->
<footer class="footer" id="footer">
	<div class="footer_primary">
		<div class="fs-row">
			<div class="fs-cell">
				<div class="footer_primary_inner">
					<div class="footer_address">
						
<div class="meta_info" id="meta_info">
	<script type="application/ld+json">
		{
			'@context': 'http://schema.org',
			'@type': 'Organization',
			'name': 'Critical Infrastructure Partners',
			'logo': '//example.dev.cip.com/site/images/logo-schema.png',
			'address': {
				'@type': 'PostalAddress',
				'streetAddress': '835 Lowcountry Blvd.',
				'addressLocality': 'Mt. Pleasant',
				'addressRegion': 'SC',
				'postalCode': '29464"
			},
		'email': 'info@criticalinfrastructurepartners.com',
				'telephone': '(410) 537-5007',
				'url': '//example.dev.cip.com/site',
					'sameAs': [
							'//www.facebook.com'
				,
											'//www.twitter.com'
				,
											'//www.instagram.com'
				,
											'//www.youtube.com'
				,
											'//www.linkedin.com'
										]
				}
	</script>
	<div class="meta_info_details">
		<div class="meta_info_detail meta_info_detail_address">
			<span class="meta_info_address_name">Critical Infrastructure Partners</span>
			<a class="meta_info_detail_label meta_info_detail_link" href="//www.google.com/maps/place/?q=place_id:ChIJofvP7nsEyIkRAppsAwqW4SQ" target="_blank" rel="noopener">
				<span class="meta_info_address_street">835 Lowcountry Blvd.</span>
				<span class="meta_info_address_group">
					<span class="meta_info_address_city">Mt. Pleasant,</span>
					<span class="meta_info_address_state">SC</span>
					<span class="meta_info_address_zip">29464</span>
				</span>
			</a>
		</div>
	</div>
</div>
					</div>
					<div class="footer_logo">
						
<div class="logo logo_footer logo_icon">
	<a class="logo_link" href="page-home.html">
		<span class="logo_link_label">Critical Infrastructure Partners</span>
					<span class="logo_link_icon">
			<svg class="icon icon_logo">
				<use href="/images/icons.svg#logo" />
			</svg>
		</span>
			</a>
	</div>					</div>
					<div class="footer_meta">
						<a class="footer_email" href="mailto:info@criticalinfrastructurepartners.com">info@criticalinfrastructurepartners.com</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="js-alert-wrapper">
			</div>
</footer>
<!-- END: Footer -->

