




<div class="js-nav-toggle-group js-audience-nav-group js-audience-nav-group-demo toggle_nav_group audience_nav_group audience_nav_group_demo">
	

<button class="js-audience-nav-toggle js-nav-toggle-button js-swap audience_nav_toggle button_toggle"   data-swap-target=".js-audience-nav-group"   data-swap-linked="audience" >
	<span class="audience_nav_toggle_inner_default audience_nav_toggle_inner button_toggle_inner_default button_toggle_inner">
					<span class="audience_nav_toggle_label_default audience_nav_toggle_label button_toggle_label_default button_toggle_label">Audience</span>
							<span class="audience_nav_toggle_icon_default audience_nav_toggle_icon button_toggle_icon_default button_toggle_icon" aria-hidden="true">
					
			<svg class="icon icon_plus">
				<use href="/images/icons.svg#plus" />
			</svg>
		
				</span>
						</span>
			<span class="audience_nav_toggle_inner_active audience_nav_toggle_inner button_toggle_inner_active button_toggle_inner">
							<span class="audience_nav_toggle_label_active audience_nav_toggle_label button_toggle_label_active button_toggle_label">Close</span>
									<span class="audience_nav_toggle_icon_active audience_nav_toggle_icon button_toggle_icon_active button_toggle_icon" aria-hidden="true">
						
			<svg class="icon icon_minus">
				<use href="/images/icons.svg#minus" />
			</svg>
		
					</span>
									</span>
	</button>	<div class="js-nav-toggle-panel js-audience-nav-panel js-audience-nav-panel-demo toggle_nav_panel audience_nav_panel audience_nav_panel_demo">
		<nav class="js-nav-toggle js-audience-nav js-audience-nav-demo toggle_nav audience_nav audience_nav_demo" aria-labelledby="toggle_nav_title-1">
			<div class="toggle_nav_header audience_nav_header">
				<h2 class="toggle_nav_title audience_nav_title" id="toggle_nav_title-1">Audience</h2>
			</div>
			<ul class="js-nav-toggle-list js-audience-nav-list toggle_nav_list audience_nav_list" aria-labelledby="toggle_nav_title-1">
									<li class="js-nav-toggle-item js-audience-nav-item toggle_nav_item audience_nav_item">
						<a class="js-nav-toggle-link js-audience-nav-link toggle_nav_link audience_nav_link" href="#">
							<div class="toggle_nav_link_inner audience_nav_link_inner">
																<span class="audience_nav_link_label">Faculty</span>
							</div>
						</a>
											</li>
									<li class="js-nav-toggle-item js-audience-nav-item toggle_nav_item audience_nav_item">
						<a class="js-nav-toggle-link js-audience-nav-link toggle_nav_link audience_nav_link" href="#">
							<div class="toggle_nav_link_inner audience_nav_link_inner">
																<span class="audience_nav_link_label">Staff</span>
							</div>
						</a>
											</li>
									<li class="js-nav-toggle-item js-audience-nav-item toggle_nav_item audience_nav_item">
						<a class="js-nav-toggle-link js-audience-nav-link toggle_nav_link audience_nav_link" href="#">
							<div class="toggle_nav_link_inner audience_nav_link_inner">
																<span class="audience_nav_link_label">Current Students</span>
							</div>
						</a>
											</li>
									<li class="js-nav-toggle-item js-audience-nav-item toggle_nav_item audience_nav_item">
						<a class="js-nav-toggle-link js-audience-nav-link toggle_nav_link audience_nav_link" href="#">
							<div class="toggle_nav_link_inner audience_nav_link_inner">
																<span class="audience_nav_link_label">Prospective Student</span>
							</div>
						</a>
											</li>
									<li class="js-nav-toggle-item js-audience-nav-item toggle_nav_item audience_nav_item">
						<a class="js-nav-toggle-link js-audience-nav-link toggle_nav_link audience_nav_link" href="#">
							<div class="toggle_nav_link_inner audience_nav_link_inner">
																<span class="audience_nav_link_label">Alumni</span>
							</div>
						</a>
											</li>
									<li class="js-nav-toggle-item js-audience-nav-item toggle_nav_item audience_nav_item">
						<a class="js-nav-toggle-link js-audience-nav-link toggle_nav_link audience_nav_link" href="#">
							<div class="toggle_nav_link_inner audience_nav_link_inner">
																<span class="audience_nav_link_label">Parents & Families</span>
							</div>
						</a>
											</li>
									<li class="js-nav-toggle-item js-audience-nav-item toggle_nav_item audience_nav_item">
						<a class="js-nav-toggle-link js-audience-nav-link toggle_nav_link audience_nav_link" href="#">
							<div class="toggle_nav_link_inner audience_nav_link_inner">
																<span class="audience_nav_link_label">Visitors</span>
							</div>
						</a>
											</li>
							</ul>
		</nav>
	</div>
</div>
