




<nav class="secondary_nav secondary_nav_demo" aria-labelledby="basic_nav_title-1">
	<div class="secondary_nav_header">
		<h2 class="secondary_nav_title" id="basic_nav_title-1">Basic</h2>
	</div>
	<ul class="secondary_nav_list" aria-labelledby="basic_nav_title-1">
					<li class="secondary_nav_item">
				<a class="secondary_nav_link" href="#">
					<div class="secondary_nav_link_inner">
												<span class="secondary_nav_link_label">News</span>
					</div>
				</a>
							</li>
					<li class="secondary_nav_item">
				<a class="secondary_nav_link" href="#">
					<div class="secondary_nav_link_inner">
												<span class="secondary_nav_link_label">Events</span>
					</div>
				</a>
							</li>
					<li class="secondary_nav_item">
				<a class="secondary_nav_link" href="#">
					<div class="secondary_nav_link_inner">
												<span class="secondary_nav_link_label">Directory</span>
					</div>
				</a>
							</li>
					<li class="secondary_nav_item">
				<a class="secondary_nav_link" href="#">
					<div class="secondary_nav_link_inner">
												<span class="secondary_nav_link_label">Giving</span>
					</div>
				</a>
							</li>
					<li class="secondary_nav_item">
				<a class="secondary_nav_link" href="#">
					<div class="secondary_nav_link_inner">
												<span class="secondary_nav_link_label">Visit</span>
					</div>
				</a>
							</li>
			</ul>
</nav>
