


<!-- Alert -->
<div class="js-alert alert" id="alert" role="alert" data-time="2019-10-18 14:52:4" aria-labelledby="alert_title" tabindex="-1" aria-atomic="true">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="alert_inner">
				<div class="alert_header">
					<h2 class="alert_title" id="alert_title" tabindex="-1">
						<span class="alert_title_label">Lorem ipsum dolor sit amet</span>
					</h2>
				</div>
				<div class="alert_body">
					<div class="alert_description typography">
						<p>Aenean massa. Cum sociis natoque penatibus et magnis dis <a href="#">parturient montes</a>, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
					</div>
				</div>
				<button class="js-alert-close alert_close" aria-label="close site alert">
					<span class="alert_close_inner">
						<span class="alert_close_label">Close</span>
						<span class="alert_close_icon" aria-hidden="true">
							<span class="alert_close_icon_inner">
			<svg class="icon icon_close">
				<use href="/images/icons.svg#close" />
			</svg>
		</span>
						</span>
					</span>
				</button>
			</div>
		</div>
	</div>
</div>
<!-- END: Alert -->
