


<div class="js-site-search site_search" id="site_search" role="search" itemscope itemtype="https://schema.org/WebSite" aria-label="">
	<meta itemprop="url" content="http://example.dev.fastspot.com/site">
	<form class="site_search_form" action="/components/preview/template-search" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
		<meta itemprop="target" content="http://example.dev.fastspot.com/site/components/preview/template-search?q={q}">
		<label class="js-site-search-label site_search_label" for="search_string_">Search</label>
		<div class="site_search_field">
			<input class="js-site-search-input site_search_input" itemprop="query-input" type="search" id="search_string_" name="q"  required>
			<button class="site_search_button" type="submit"  aria-label="Search" >
								<span class="site_search_button_icon">
			<svg class="icon icon_search">
				<use href="/images/icons.svg#search" />
			</svg>
		</span>
			</button>
		</div>
	</form>
</div>
