


<!-- Event Actions -->
<div class="event_actions">
	<div class="event_actions_header">
		<h2 class="event_actions_title" id="event_actions_title">
			<span class="event_actions_title_label">Event Actions</span>
		</h2>
	</div>
	<div class="event_actions_body">
		<ul class="event_actions_list" aria-labelledby="event_actions_title">
							<li class="event_action">
					
<a href="#" class="event_action_link" >
	<span class="event_action_link_inner">
					<span class="event_action_link_label">Register</span>
						</span>
</a>				</li>
							<li class="event_action">
					
<a href="#" class="event_action_link" >
	<span class="event_action_link_inner">
					<span class="event_action_link_label">Another Link</span>
						</span>
</a>				</li>
					</ul>
	</div>
</div>
<!-- END: Event Actions -->
