


<!-- News Meta -->
<div class="news_meta" id="meta" data-type="news" data-category="Category 1">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="news_meta_inner">
				<div class="news_meta_body">
											<div class="news_meta_details">
															<div class="news_meta_detail news_meta_date">
									<span class="news_meta_detail_hint">Published:&nbsp;</span>
									<time class="news_meta_detail_label" datetime="2019-01-01 17:00:00">January 1, 2019</time>
								</div>
																						<div class="news_meta_detail news_meta_author">
									<span class="news_meta_detail_hint">- by&nbsp;</span>
									<span class="news_meta_detail_label">Author</span>
								</div>
													</div>
																<div class="news_meta_categories_block">
							<span class="news_meta_categories_icon">
			<svg class="icon icon_label">
				<use href="/images/icons.svg#label" />
			</svg>
		</span>
							<ul class="news_meta_categories" aria-label="Categories">
																	<li class="news_meta_category">
										<a class="news_meta_category_link" href="page-news-category.html">Category 1</a>
									</li>
															</ul>
						</div>
									</div>
				<div class="news_meta_share">
					
<div class="js-share-tools share_tools direction_left">
	<div class="share_tools_header">
		<h2 class="share_tools_title">Share Options</h2>
		<button class="js-share-tools-toggle share_tools_toggle" data-swap-target=".js-share-tools">
			<span class="share_tools_toggle_inner">
								<span class="share_tools_toggle_label">Share This</span>
			</span>
		</button>
	</div>
	<ul class="js-share-tools-list share_tools_list" aria-label="Share Options">
					<li class="js-share-tool-item share_tool_item">
				<a class="js-share-tool js-share-twitter share_tool" href="#" target="_blank" rel="noopener">
					<span class="share_tool_icon">
			<svg class="icon icon_twitter">
				<use href="/images/icons.svg#twitter" />
			</svg>
		</span>
					<span class="share_tool_label">Share to Twitter</span>
				</a>
			</li>
					<li class="js-share-tool-item share_tool_item">
				<a class="js-share-tool js-share-facebook share_tool" href="#" target="_blank" rel="noopener">
					<span class="share_tool_icon">
			<svg class="icon icon_facebook">
				<use href="/images/icons.svg#facebook" />
			</svg>
		</span>
					<span class="share_tool_label">Share to Facebook</span>
				</a>
			</li>
					<li class="js-share-tool-item share_tool_item">
				<a class="js-share-tool js-share-linkedin share_tool" href="#" target="_blank" rel="noopener">
					<span class="share_tool_icon">
			<svg class="icon icon_linkedin">
				<use href="/images/icons.svg#linkedin" />
			</svg>
		</span>
					<span class="share_tool_label">Share to Linkedin</span>
				</a>
			</li>
			</ul>
</div>				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: News Meta -->
