





<div class="_lazy_video lazy_video js-video-lazy-load " data-video-lazy-load='{"id":"306272054","type":"vimeo","title":"Video Title","display":"inline","autoplay":false,"playerVars":{}}'>
	<a class="lazy_video_toggle_btn js-play-btn" href="https://vimeo.com/306272054" aria-label="Play Video Title">
		
			<svg class="icon icon_video_play">
				<use href="/images/icons.svg#video_play" />
			</svg>
		
	</a>
	<div class="lazy_video_iframe_wrap">
		<div class="lazy_video_iframe_target js-iframe-target"></div>
	</div>
</div>
