


<!-- Person Meta -->
<div class="department_meta" id="meta" data-type="entity" data-category="">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="department_meta_inner">
				<div class="department_meta_details">
											<div class="department_meta_detail contact">
							<div class="department_meta_detail_label">Contact</div>
															<div class="department_meta_detail_item">
									<div class="department_meta_detail_item_header">
										<div class="department_meta_detail_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</div>
										<div class="department_meta_detail_hint">mobile</div>
									</div>
									<div class="department_meta_detail_info">
										<a class="department_meta_detail_info_link" href="tel:4105551234">(410) 555-1234</a>
									</div>
								</div>
															<div class="department_meta_detail_item">
									<div class="department_meta_detail_item_header">
										<div class="department_meta_detail_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</div>
										<div class="department_meta_detail_hint">office</div>
									</div>
									<div class="department_meta_detail_info">
										<a class="department_meta_detail_info_link" href="tel:4105551234">(410) 555-1234</a>
									</div>
								</div>
																						<div class="department_meta_detail_item">
									<div class="department_meta_detail_item_header">
										<div class="department_meta_detail_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</div>
										<div class="department_meta_detail_hint">Email Address</div>
									</div>
									<div class="department_meta_detail_info">
										<a class="department_meta_detail_info_link" href="mailto:name@university.edu">name@university.edu</a>
									</div>
								</div>
													</div>
																<div class="department_meta_detail location">
							<div class="department_meta_detail_label">Location</div>
							<div class="department_meta_detail_item">
								<div class="department_meta_detail_item_header">
									<div class="department_meta_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</div>
								</div>
								<div class="department_meta_detail_info">Appleseed Library<br>Room 214</div>
							</div>
						</div>
																					<div class="department_meta_detail hours">
							<div class="department_meta_detail_label">Office Hours</div>
															<div class="department_meta_detail_item">
									<div class="department_meta_detail_item_header">
										<div class="department_meta_detail_icon">
			<svg class="icon icon_clock">
				<use href="/images/icons.svg#clock" />
			</svg>
		</div>
										<div class="department_meta_detail_hint">Monday</div>
									</div>
									<div class="department_meta_detail_info">9am - 5pm</div>
								</div>
															<div class="department_meta_detail_item">
									<div class="department_meta_detail_item_header">
										<div class="department_meta_detail_icon">
			<svg class="icon icon_clock">
				<use href="/images/icons.svg#clock" />
			</svg>
		</div>
										<div class="department_meta_detail_hint">Wednesday</div>
									</div>
									<div class="department_meta_detail_info">11am-12pm</div>
								</div>
													</div>
																<div class="department_meta_detail social">
							<div class="department_meta_detail_label">Social</div>
							<ul class="department_meta_socials" aria-label="Social Links for ">
																	<li class="department_meta_social">
										<a class="department_meta_social_link" href="#" aria-label=" Linkedin" target="_blank" rel="noopener"><span class="department_meta_social_link_icon">
			<svg class="icon icon_linkedin">
				<use href="/images/icons.svg#linkedin" />
			</svg>
		</span><span class="department_meta_social_link_label">Linkedin</span></a><span class="department_meta_social_punctuation">, </span>									</li>
																	<li class="department_meta_social">
										<a class="department_meta_social_link" href="#" aria-label=" Twitter" target="_blank" rel="noopener"><span class="department_meta_social_link_icon">
			<svg class="icon icon_twitter">
				<use href="/images/icons.svg#twitter" />
			</svg>
		</span><span class="department_meta_social_link_label">Twitter</span></a><span class="department_meta_social_punctuation">, </span>									</li>
																	<li class="department_meta_social">
										<a class="department_meta_social_link" href="#" aria-label=" Facebook" target="_blank" rel="noopener"><span class="department_meta_social_link_icon">
			<svg class="icon icon_facebook">
				<use href="/images/icons.svg#facebook" />
			</svg>
		</span><span class="department_meta_social_link_label">Facebook</span></a><span class="department_meta_social_punctuation">, </span>									</li>
																	<li class="department_meta_social">
										<a class="department_meta_social_link" href="#" aria-label=" Instagram" target="_blank" rel="noopener"><span class="department_meta_social_link_icon">
			<svg class="icon icon_instagram">
				<use href="/images/icons.svg#instagram" />
			</svg>
		</span><span class="department_meta_social_link_label">Instagram</span></a>									</li>
															</ul>
						</div>
									</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Person Meta -->
