


<div class="contact_details">
			<div class="contact_detail contact">
			<div class="contact_detail_label">Contact</div>
							<div class="contact_detail_item">
					<div class="contact_detail_item_header">
						<div class="contact_detail_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</div>
						<div class="contact_detail_hint">mobile</div>
					</div>
					<div class="contact_detail_info">
						<a class="contact_detail_info_link" href="tel:4105551234">(410) 555-1234</a>
					</div>
				</div>
										<div class="contact_detail_item">
					<div class="contact_detail_item_header">
						<div class="contact_detail_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</div>
						<div class="contact_detail_hint">Email Address</div>
					</div>
					<div class="contact_detail_info">
						<a class="contact_detail_info_link" href="mailto:name@university.edu">name@university.edu</a>
					</div>
				</div>
					</div>
				<div class="contact_detail location">
			<div class="contact_detail_label">Location</div>
			<div class="contact_detail_item">
				<div class="contact_detail_item_header">
					<div class="contact_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</div>
				</div>
				<div class="contact_detail_info">Appleseed Library<br>Room 214</div>
			</div>
		</div>
				<div class="contact_detail department">
			<div class="contact_detail_label">Department</div>
							<div class="contact_detail_item">
					<div class="contact_detail_item_header">
						<div class="contact_detail_icon">
			<svg class="icon icon_building">
				<use href="/images/icons.svg#building" />
			</svg>
		</div>
					</div>
					<div class="contact_detail_info">
						<a class="contact_detail_info_link" href="#">Department Name</a>
					</div>
				</div>
					</div>
				<div class="contact_detail hours">
			<div class="contact_detail_label">Office Hours</div>
							<div class="contact_detail_item">
					<div class="contact_detail_item_header">
						<div class="contact_detail_icon">
			<svg class="icon icon_clock">
				<use href="/images/icons.svg#clock" />
			</svg>
		</div>
						<div class="contact_detail_hint">Mon-Fri</div>
					</div>
					<div class="contact_detail_info">9:00-5</div>
				</div>
					</div>
				<div class="contact_detail social">
			<div class="contact_detail_label">Social</div>
			<ul class="contact_socials" aria-label="Social Links for Name">
									<li class="contact_social">
						<a class="contact_social_link" href="#" aria-label="Name Linkedin" target="_blank" rel="noopener"><span class="contact_social_link_icon">
			<svg class="icon icon_linkedin">
				<use href="/images/icons.svg#linkedin" />
			</svg>
		</span><span class="contact_social_link_label">Linkedin</span></a>					</li>
							</ul>
		</div>
	</div>
