


<div class="meta_info" id="meta_info">
	<script type="application/ld+json">
		{
			'@context': 'http://schema.org',
			'@type': 'Organization',
			'name': 'Framework',
			'logo': '//example.dev.fastspot.com/site/images/logo-schema.png',
			'address': {
				'@type': 'PostalAddress',
				'streetAddress': '2980 Falls Road',
				'addressLocality': 'Baltimore',
				'addressRegion': 'MD',
				'postalCode': '21211"
			},
			'email': 'info@fastspot.com',			'telephone': '(410) 537-5007',			'url': '//example.dev.fastspot.com/site',
							'sameAs': [
									'//www.facebook.com'
					,
														'//www.twitter.com'
					,
														'//www.instagram.com'
					,
														'//www.youtube.com'
					,
														'//www.linkedin.com'
													]
					}
	</script>
	<div class="meta_info_details">
		<div class="meta_info_detail meta_info_detail_address">
			<span class="meta_info_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</span>
			<a class="meta_info_detail_label meta_info_detail_link" href="//www.google.com/maps/place/?q=place_id:ChIJofvP7nsEyIkRAppsAwqW4SQ" target="_blank" rel="noopener">
				<span class="meta_info_address_street">2980 Falls Road,</span>
				<span class="meta_info_address_group">
					<span class="meta_info_address_city">Baltimore,</span>
					<span class="meta_info_address_state">MD</span>
					<span class="meta_info_address_zip">21211</span>
				</span>
			</a>
		</div>
					<div class="meta_info_detail meta_info_detail_email">
				<span class="meta_info_detail_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</span>
				<a class="meta_info_detail_label meta_info_detail_link" href="mailto:info@fastspot.com">info@fastspot.com</a>
			</div>
							<div class="meta_info_detail meta_info_detail_phone">
				<span class="meta_info_detail_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</span>
				<a class="meta_info_detail_label meta_info_detail_link" href="tel:4105375007">P<span class="meta_info_detail_label_hint">hone</span>:&nbsp; (410) 537-5007</a>
			</div>
							<div class="meta_info_detail meta_info_detail_fax">
				<span class="meta_info_detail_icon">
			<svg class="icon icon_fax">
				<use href="/images/icons.svg#fax" />
			</svg>
		</span>
				<a class="meta_info_detail_label meta_info_detail_link" href="tel:4105375008">F<span class="meta_info_detail_label_hint">ax</span>:&nbsp; (410) 537-5008</a>
			</div>
			</div>
</div>
