



<!-- Program Meta -->
<div class="program_meta" id="meta" data-type="program" data-category="Graduate, Undergraduate, Doctoral, Business Administration, On-campus, Online, B.S., M.S., ">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="program_meta_inner">
				<div class="program_details">
											<div class="program_detail">
							<div class="program_detail_label">Degree Level<span class="program_detail_label_hint">:</span></div>
							<div class="program_detail_data">
																	Graduate, 																	Undergraduate, 																	Doctoral															</div>
						</div>
																<div class="program_detail">
							<div class="program_detail_label">Department<span class="program_detail_label_hint">:</span></div>
							<div class="program_detail_data">
								<a class="program_detail_data_link" href="">Business Administration</a>
							</div>
						</div>
																<div class="program_detail">
							<div class="program_detail_label">Learning Mode<span class="program_detail_label_hint">:</span></div>
							<div class="program_detail_data">
																	On-campus, 																	Online															</div>
						</div>
																<div class="program_detail">
							<div class="program_detail_label">Degree<span class="program_detail_label_hint">:</span></div>
							<div class="program_detail_data">
																	B.S., 																	M.S.															</div>
						</div>
									</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Program Meta -->
