




<!-- Program List -->
<div class="js-accordion program_list">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="program_list_inner">
				<ul class="program_list_items" id="item_list" aria-label="">
											<li class="js-accordion-item js-program-item-1-1 program_item">
							<h2 class="program_item_heading">
								<button class="js-accordion-swap js-swap program_item_button" data-swap-target=".js-program-item-1-1" >
									<span class="program_item_heading_inner">
										<span class="program_item_heading_label">
											<span class="program_item_heading_title">Accounting</span>
											<span class="program_item_heading_mode">
												<span class="program_item_heading_mode_label">Learning Mode<span class="program_item_heading_mode_label_hint">:</span>&nbsp;</span>
												<span class="program_item_heading_mode_data">
																											On-campus, 																											Online																									</span>
											</span>
										</span>
										<span class="program_item_heading_icon"></span>
									</span>
								</button>
							</h2>
							<div class="js-accordion-content program_item_content" aria-label="Accounting">
								<div class="program_item_content_inner">
									<div class="program_item_content_group">
										<div class="program_item_description typography">
											<p>Accounting has long been one of Stonehill’s most popular majors and one that attracts many of the Northeast’s best students.</p>
										</div>
																					<div class="program_item_links">
												
<a href="page-program-detail.html" class="program_item_link"  aria-label="NaN" >
	<span class="program_item_link_inner">
					<span class="program_item_link_label">Program Detail</span>
						</span>
</a>											</div>
																			</div>
									<div class="program_item_details">
																					<div class="program_item_detail">
												<span class="program_item_detail_label">Degree Level<span class="program_item_detail_label_hint">:</span>&nbsp;</span>
												<span class="program_item_detail_data">
																											Undergraduate																									</span>
											</div>
																															<div class="program_item_detail">
												<span class="program_item_detail_label">Department<span class="program_item_detail_label_hint">:</span>&nbsp;</span>
												<span class="program_item_detail_data">
													<a class="program_item_detail_data_link" href="#">Business Administration</a>
												</span>
											</div>
																															<div class="program_item_detail">
												<span class="program_item_detail_label">Degree<span class="program_item_detail_label_hint">:</span>&nbsp;</span>
												<span class="program_item_detail_data">
																											B.S., 																											B.A.																									</span>
											</div>
																			</div>
								</div>
							</div>
						</li>
											<li class="js-accordion-item js-program-item-1-2 program_item">
							<h2 class="program_item_heading">
								<button class="js-accordion-swap js-swap program_item_button" data-swap-target=".js-program-item-1-2" >
									<span class="program_item_heading_inner">
										<span class="program_item_heading_label">
											<span class="program_item_heading_title">Advanced Manufacturing & Integrated Photonics Certificate</span>
											<span class="program_item_heading_mode">
												<span class="program_item_heading_mode_label">Learning Mode<span class="program_item_heading_mode_label_hint">:</span>&nbsp;</span>
												<span class="program_item_heading_mode_data">
																											Hybrid																									</span>
											</span>
										</span>
										<span class="program_item_heading_icon"></span>
									</span>
								</button>
							</h2>
							<div class="js-accordion-content program_item_content" aria-label="Advanced Manufacturing & Integrated Photonics Certificate">
								<div class="program_item_content_inner">
									<div class="program_item_content_group">
										<div class="program_item_description typography">
											<p>The Certificate in Advanced Manufacturing & Integrated Photonics Program is a <a href="#">partnership initiative</a> designed to equip participants with the skills and experience needed to thrive in this burgeoning market.</p>
										</div>
																					<div class="program_item_links">
												
<a href="page-program-detail.html" class="program_item_link"  aria-label="NaN" >
	<span class="program_item_link_inner">
					<span class="program_item_link_label">Program Detail</span>
						</span>
</a>											</div>
																			</div>
									<div class="program_item_details">
																															<div class="program_item_detail">
												<span class="program_item_detail_label">Department<span class="program_item_detail_label_hint">:</span>&nbsp;</span>
												<span class="program_item_detail_data">
													<a class="program_item_detail_data_link" href="#">Partnership Program</a>
												</span>
											</div>
																															<div class="program_item_detail">
												<span class="program_item_detail_label">Degree<span class="program_item_detail_label_hint">:</span>&nbsp;</span>
												<span class="program_item_detail_data">
																											Certificate																									</span>
											</div>
																			</div>
								</div>
							</div>
						</li>
											<li class="js-accordion-item js-program-item-1-3 program_item">
							<h2 class="program_item_heading">
								<button class="js-accordion-swap js-swap program_item_button" data-swap-target=".js-program-item-1-3" >
									<span class="program_item_heading_inner">
										<span class="program_item_heading_label">
											<span class="program_item_heading_title">American Studies</span>
											<span class="program_item_heading_mode">
												<span class="program_item_heading_mode_label">Learning Mode<span class="program_item_heading_mode_label_hint">:</span>&nbsp;</span>
												<span class="program_item_heading_mode_data">
																											On Campus																									</span>
											</span>
										</span>
										<span class="program_item_heading_icon"></span>
									</span>
								</button>
							</h2>
							<div class="js-accordion-content program_item_content" aria-label="American Studies">
								<div class="program_item_content_inner">
									<div class="program_item_content_group">
										<div class="program_item_description typography">
											<p>The American Studies major symbolizes Stonehill’s commitment to interdisciplinary programs that foster deeper learning by examining topics from multiple perspectives. American Studies is an interdisciplinary endeavor to better understand the American nation, its cultures and the diverse histories of its peoples and communities. This broad approach helps students develop skills in critical inquiry, communication, cultural knowledge and self-reflection that in turn engender a desire to advance social justice.</p>
										</div>
																					<div class="program_item_links">
												
<a href="page-program-detail.html" class="program_item_link"  aria-label="NaN" >
	<span class="program_item_link_inner">
					<span class="program_item_link_label">Program Detail</span>
						</span>
</a>											</div>
																			</div>
									<div class="program_item_details">
																					<div class="program_item_detail">
												<span class="program_item_detail_label">Degree Level<span class="program_item_detail_label_hint">:</span>&nbsp;</span>
												<span class="program_item_detail_data">
																											Undergraduate																									</span>
											</div>
																																									<div class="program_item_detail">
												<span class="program_item_detail_label">Degree<span class="program_item_detail_label_hint">:</span>&nbsp;</span>
												<span class="program_item_detail_data">
																											B.A.																									</span>
											</div>
																			</div>
								</div>
							</div>
						</li>
											<li class="js-accordion-item js-program-item-1-4 program_item">
							<h2 class="program_item_heading">
								<button class="js-accordion-swap js-swap program_item_button" data-swap-target=".js-program-item-1-4" >
									<span class="program_item_heading_inner">
										<span class="program_item_heading_label">
											<span class="program_item_heading_title">Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi</span>
											<span class="program_item_heading_mode">
												<span class="program_item_heading_mode_label">Learning Mode<span class="program_item_heading_mode_label_hint">:</span>&nbsp;</span>
												<span class="program_item_heading_mode_data">
																											On Campus																									</span>
											</span>
										</span>
										<span class="program_item_heading_icon"></span>
									</span>
								</button>
							</h2>
							<div class="js-accordion-content program_item_content" aria-label="Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi">
								<div class="program_item_content_inner">
									<div class="program_item_content_group">
										<div class="program_item_description typography">
											<p>The anthropology program at Stonehill focuses on the holistic study and understanding of other cultures from an insider’s point of view and explores the diverse ways in which human beings perceive and order the social world.</p>
										</div>
																					<div class="program_item_links">
												
<a href="page-program-detail.html" class="program_item_link"  aria-label="NaN" >
	<span class="program_item_link_inner">
					<span class="program_item_link_label">Program Detail</span>
						</span>
</a>											</div>
																			</div>
									<div class="program_item_details">
																					<div class="program_item_detail">
												<span class="program_item_detail_label">Degree Level<span class="program_item_detail_label_hint">:</span>&nbsp;</span>
												<span class="program_item_detail_data">
																											Undergraduate																									</span>
											</div>
																															<div class="program_item_detail">
												<span class="program_item_detail_label">Department<span class="program_item_detail_label_hint">:</span>&nbsp;</span>
												<span class="program_item_detail_data">
													<a class="program_item_detail_data_link" href="#">Sociology & Criminology</a>
												</span>
											</div>
																															<div class="program_item_detail">
												<span class="program_item_detail_label">Degree<span class="program_item_detail_label_hint">:</span>&nbsp;</span>
												<span class="program_item_detail_data">
																											B.A.																									</span>
											</div>
																			</div>
								</div>
							</div>
						</li>
											<li class="js-accordion-item js-program-item-1-5 program_item">
							<h2 class="program_item_heading">
								<button class="js-accordion-swap js-swap program_item_button" data-swap-target=".js-program-item-1-5" >
									<span class="program_item_heading_inner">
										<span class="program_item_heading_label">
											<span class="program_item_heading_title">Arabic</span>
											<span class="program_item_heading_mode">
												<span class="program_item_heading_mode_label">Learning Mode<span class="program_item_heading_mode_label_hint">:</span>&nbsp;</span>
												<span class="program_item_heading_mode_data">
																											On Campus																									</span>
											</span>
										</span>
										<span class="program_item_heading_icon"></span>
									</span>
								</button>
							</h2>
							<div class="js-accordion-content program_item_content" aria-label="Arabic">
								<div class="program_item_content_inner">
									<div class="program_item_content_group">
										<div class="program_item_description typography">
											<p>The Arabic Minor at Stonehill introduces students to the Modern Standard Arabic language as well as integrates aspects of Arabic history, culture, and contemporary events and issues. Minor can be combined with any number of majors, giving students a competitive advantage and unique set of skills. Minors are encouraged to study abroad, expanding their global knowledge and leadership. The study of languages, literatures and cultures is a cornerstone of the liberal arts education</p>
										</div>
																					<div class="program_item_links">
												
<a href="page-program-detail.html" class="program_item_link"  aria-label="NaN" >
	<span class="program_item_link_inner">
					<span class="program_item_link_label">Program Detail</span>
						</span>
</a>											</div>
																			</div>
									<div class="program_item_details">
																					<div class="program_item_detail">
												<span class="program_item_detail_label">Degree Level<span class="program_item_detail_label_hint">:</span>&nbsp;</span>
												<span class="program_item_detail_data">
																											Undergraduate																									</span>
											</div>
																															<div class="program_item_detail">
												<span class="program_item_detail_label">Department<span class="program_item_detail_label_hint">:</span>&nbsp;</span>
												<span class="program_item_detail_data">
													<a class="program_item_detail_data_link" href="#">Languages, Literatures & Cultures</a>
												</span>
											</div>
																													</div>
								</div>
							</div>
						</li>
											<li class="js-accordion-item js-program-item-1-6 program_item">
							<h2 class="program_item_heading">
								<button class="js-accordion-swap js-swap program_item_button" data-swap-target=".js-program-item-1-6" >
									<span class="program_item_heading_inner">
										<span class="program_item_heading_label">
											<span class="program_item_heading_title">Asian Studies</span>
											<span class="program_item_heading_mode">
												<span class="program_item_heading_mode_label">Learning Mode<span class="program_item_heading_mode_label_hint">:</span>&nbsp;</span>
												<span class="program_item_heading_mode_data">
																											On Campus																									</span>
											</span>
										</span>
										<span class="program_item_heading_icon"></span>
									</span>
								</button>
							</h2>
							<div class="js-accordion-content program_item_content" aria-label="Asian Studies">
								<div class="program_item_content_inner">
									<div class="program_item_content_group">
										<div class="program_item_description typography">
											<p></p>
										</div>
																					<div class="program_item_links">
												
<a href="page-program-detail.html" class="program_item_link"  aria-label="NaN" >
	<span class="program_item_link_inner">
					<span class="program_item_link_label">Program Detail</span>
						</span>
</a>											</div>
																			</div>
									<div class="program_item_details">
																					<div class="program_item_detail">
												<span class="program_item_detail_label">Degree Level<span class="program_item_detail_label_hint">:</span>&nbsp;</span>
												<span class="program_item_detail_data">
																											Undergraduate																									</span>
											</div>
																															<div class="program_item_detail">
												<span class="program_item_detail_label">Department<span class="program_item_detail_label_hint">:</span>&nbsp;</span>
												<span class="program_item_detail_data">
													<a class="program_item_detail_data_link" href="#">Interdisciplinary</a>
												</span>
											</div>
																													</div>
								</div>
							</div>
						</li>
											<li class="js-accordion-item js-program-item-1-7 program_item">
							<h2 class="program_item_heading">
								<button class="js-accordion-swap js-swap program_item_button" data-swap-target=".js-program-item-1-7" >
									<span class="program_item_heading_inner">
										<span class="program_item_heading_label">
											<span class="program_item_heading_title">Biochemistry</span>
											<span class="program_item_heading_mode">
												<span class="program_item_heading_mode_label">Learning Mode<span class="program_item_heading_mode_label_hint">:</span>&nbsp;</span>
												<span class="program_item_heading_mode_data">
																											On Campus																									</span>
											</span>
										</span>
										<span class="program_item_heading_icon"></span>
									</span>
								</button>
							</h2>
							<div class="js-accordion-content program_item_content" aria-label="Biochemistry">
								<div class="program_item_content_inner">
									<div class="program_item_content_group">
										<div class="program_item_description typography">
											<p>Stonehill’s biochemistry program draws on the disciplines of biology and chemistry. It combines technical training and the liberal arts, resulting in superb scientists who are also well-rounded lifelong learners.</p>
										</div>
																					<div class="program_item_links">
												
<a href="page-program-detail.html" class="program_item_link"  aria-label="NaN" >
	<span class="program_item_link_inner">
					<span class="program_item_link_label">Program Detail</span>
						</span>
</a>											</div>
																			</div>
									<div class="program_item_details">
																					<div class="program_item_detail">
												<span class="program_item_detail_label">Degree Level<span class="program_item_detail_label_hint">:</span>&nbsp;</span>
												<span class="program_item_detail_data">
																											Undergraduate																									</span>
											</div>
																															<div class="program_item_detail">
												<span class="program_item_detail_label">Department<span class="program_item_detail_label_hint">:</span>&nbsp;</span>
												<span class="program_item_detail_data">
													<a class="program_item_detail_data_link" href="#">Chemistry</a>
												</span>
											</div>
																															<div class="program_item_detail">
												<span class="program_item_detail_label">Degree<span class="program_item_detail_label_hint">:</span>&nbsp;</span>
												<span class="program_item_detail_data">
																											B.S.																									</span>
											</div>
																			</div>
								</div>
							</div>
						</li>
											<li class="js-accordion-item js-program-item-1-8 program_item">
							<h2 class="program_item_heading">
								<button class="js-accordion-swap js-swap program_item_button" data-swap-target=".js-program-item-1-8" >
									<span class="program_item_heading_inner">
										<span class="program_item_heading_label">
											<span class="program_item_heading_title">Biology</span>
											<span class="program_item_heading_mode">
												<span class="program_item_heading_mode_label">Learning Mode<span class="program_item_heading_mode_label_hint">:</span>&nbsp;</span>
												<span class="program_item_heading_mode_data">
																											On Campus																									</span>
											</span>
										</span>
										<span class="program_item_heading_icon"></span>
									</span>
								</button>
							</h2>
							<div class="js-accordion-content program_item_content" aria-label="Biology">
								<div class="program_item_content_inner">
									<div class="program_item_content_group">
										<div class="program_item_description typography">
											<p>The Stonehill Biology Program prepares students for life sciences graduate programs and professional programs in medical, allied health and environmental fields. It also prepares graduates for direct entry into the workforce.</p>
										</div>
																					<div class="program_item_links">
												
<a href="page-program-detail.html" class="program_item_link"  aria-label="NaN" >
	<span class="program_item_link_inner">
					<span class="program_item_link_label">Program Detail</span>
						</span>
</a>											</div>
																			</div>
									<div class="program_item_details">
																					<div class="program_item_detail">
												<span class="program_item_detail_label">Degree Level<span class="program_item_detail_label_hint">:</span>&nbsp;</span>
												<span class="program_item_detail_data">
																											Undergraduate																									</span>
											</div>
																															<div class="program_item_detail">
												<span class="program_item_detail_label">Department<span class="program_item_detail_label_hint">:</span>&nbsp;</span>
												<span class="program_item_detail_data">
													<a class="program_item_detail_data_link" href="#">Biology</a>
												</span>
											</div>
																															<div class="program_item_detail">
												<span class="program_item_detail_label">Degree<span class="program_item_detail_label_hint">:</span>&nbsp;</span>
												<span class="program_item_detail_data">
																											B.S., 																											B.A.																									</span>
											</div>
																			</div>
								</div>
							</div>
						</li>
									</ul>
				<div class="program_list_pagination">
					
<!-- Pagination -->
<div class="pagination">
	<nav class="pagination_nav" aria-label="Program Pagination">
		<a class="pagination_arrow pagination_arrow_left pagination_arrow_disabled" href="#">
			<span class="pagination_arrow_icon">
			<svg class="icon icon_caret_left">
				<use href="/images/icons.svg#caret_left" />
			</svg>
		</span>
			<span class="pagination_arrow_label">Previous Page</span>
		</a>
		<a class="pagination_arrow pagination_arrow_right" href="#">
			<span class="pagination_arrow_label">Next Page</span>
			<span class="pagination_arrow_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
		</a>
	</nav>
	<form class="pagination_form" action="#" method="get">
		<div class="pagination_form_inner">
			<label class="pagination_form_label" for="pagination_form_select">Page</label>
			<div class="pagination_form_select_wrapper">
				<select class="pagination_form_select" name="page" id="pagination_form_select" aria-label="Select Page Number">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="16">16</option>
											<option value="17">17</option>
											<option value="18">18</option>
											<option value="19">19</option>
											<option value="20">20</option>
											<option value="21">21</option>
											<option value="22">22</option>
											<option value="23">23</option>
											<option value="24">24</option>
											<option value="25">25</option>
											<option value="26">26</option>
											<option value="27">27</option>
											<option value="28">28</option>
											<option value="29">29</option>
											<option value="30">30</option>
											<option value="31">31</option>
											<option value="32">32</option>
											<option value="33">33</option>
											<option value="34">34</option>
											<option value="35">35</option>
											<option value="36">36</option>
											<option value="37">37</option>
											<option value="38">38</option>
											<option value="39">39</option>
											<option value="40">40</option>
											<option value="41">41</option>
											<option value="42">42</option>
											<option value="43">43</option>
											<option value="44">44</option>
											<option value="45">45</option>
											<option value="46">46</option>
											<option value="47">47</option>
											<option value="48">48</option>
											<option value="49">49</option>
											<option value="50">50</option>
									</select>
				<span class="pagination_form_select_icon">
			<svg class="icon icon_expand">
				<use href="/images/icons.svg#expand" />
			</svg>
		</span>
			</div>
			<span class="pagination_form_suffix">of 50</span>
			<button class="pagination_form_button" type="submit" aria-label="View Page">Go</button>
		</div>
	</form>
</div>
<!-- END: Pagination -->				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Program List -->
