


<!-- Event Meta -->
<div class="event_meta" id="meta" data-type="event" data-category="Category 1">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="event_meta_inner">
				<div class="event_meta_body">
					<div class="event_meta_details">
						<div class="event_meta_detail">
							<span class="event_meta_detail_icon">
			<svg class="icon icon_clock">
				<use href="/images/icons.svg#clock" />
			</svg>
		</span>
							<span class="event_meta_detail_hint">Time:&nbsp;</span>
							<span class="event_meta_detail_label">
								<span class="event_meta_detail_label_date">May 31 - Jun 13</span>
								| <span class="event_meta_detail_label_time">5:00 PM - 7:00 PM</span>							</span>
						</div>
													<div class="event_meta_detail">
								<span class="event_meta_detail_icon">
			<svg class="icon icon_place">
				<use href="/images/icons.svg#place" />
			</svg>
		</span>
								<span class="event_meta_detail_hint">Location:&nbsp;</span>
								<span class="event_meta_detail_label">Location</span>
							</div>
																			<div class="event_meta_detail event_meta_detail_category">
								<span class="event_meta_detail_icon">
			<svg class="icon icon_label">
				<use href="/images/icons.svg#label" />
			</svg>
		</span>
								<span class="event_meta_detail_hint">Categories:&nbsp;</span>
								<ul class="event_meta_detail_list" aria-label="Categories">
																			<li class="event_meta_detail_item">
											<a class="event_meta_detail_link" href="#">Category 1</a>
										</li>
																	</ul>
							</div>
											</div>
				</div>
				<div class="event_meta_share">
					
<div class="js-share-tools share_tools direction_left">
	<div class="share_tools_header">
		<h2 class="share_tools_title">Share Options</h2>
		<button class="js-share-tools-toggle share_tools_toggle" data-swap-target=".js-share-tools">
			<span class="share_tools_toggle_inner">
								<span class="share_tools_toggle_label">Share This</span>
			</span>
		</button>
	</div>
	<ul class="js-share-tools-list share_tools_list" aria-label="Share Options">
					<li class="js-share-tool-item share_tool_item">
				<a class="js-share-tool js-share-twitter share_tool" href="#" target="_blank" rel="noopener">
					<span class="share_tool_icon">
			<svg class="icon icon_twitter">
				<use href="/images/icons.svg#twitter" />
			</svg>
		</span>
					<span class="share_tool_label">Share to Twitter</span>
				</a>
			</li>
					<li class="js-share-tool-item share_tool_item">
				<a class="js-share-tool js-share-facebook share_tool" href="#" target="_blank" rel="noopener">
					<span class="share_tool_icon">
			<svg class="icon icon_facebook">
				<use href="/images/icons.svg#facebook" />
			</svg>
		</span>
					<span class="share_tool_label">Share to Facebook</span>
				</a>
			</li>
					<li class="js-share-tool-item share_tool_item">
				<a class="js-share-tool js-share-linkedin share_tool" href="#" target="_blank" rel="noopener">
					<span class="share_tool_icon">
			<svg class="icon icon_linkedin">
				<use href="/images/icons.svg#linkedin" />
			</svg>
		</span>
					<span class="share_tool_label">Share to Linkedin</span>
				</a>
			</li>
			</ul>
</div>				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Event Meta -->
