


<div class="page_header">
	<div class="page_header_inner">
					<div class="page_breadcrumb">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="page_breadcrumb_inner">
							

<div class="breadcrumb">
	<nav class="breadcrumb_nav" aria-labelledby="breadcrumb_nav_title">
		<div class="breadcrumb_nav_header">
			<h2 class="breadcrumb_nav_title" id="breadcrumb_nav_title">You are here:</h2>
		</div>
		<ol class="breadcrumb_list" aria-labelledby="breadcrumb_nav_title">
			<li class="breadcrumb_item breadcrumb_item_home">
				<a class="breadcrumb_pill breadcrumb_pill_link" href="page-home.html">
					<span class="breadcrumb_pill_inner">
													<span class="breadcrumb_pill_icon" aria-hidden="true">
			<svg class="icon icon_home">
				<use href="/images/icons.svg#home" />
			</svg>
		</span>
												<span class="breadcrumb_pill_label">Home</span>
					</span>
				</a>
									<span class="breadcrumb_divider" aria-hidden="true">
			<svg class="icon icon_angle_right">
				<use href="/images/icons.svg#angle_right" />
			</svg>
		</span>
							</li>
							<li class="breadcrumb_item">
					<a class="breadcrumb_pill breadcrumb_pill_link" href="#">
						<span class="breadcrumb_pill_inner">
							<span class="breadcrumb_pill_label">Navigation Level</span>
						</span>
					</a>
											<span class="breadcrumb_divider" aria-hidden="true">
			<svg class="icon icon_angle_right">
				<use href="/images/icons.svg#angle_right" />
			</svg>
		</span>
									</li>
							<li class="breadcrumb_item">
					<a class="breadcrumb_pill breadcrumb_pill_link" href="#">
						<span class="breadcrumb_pill_inner">
							<span class="breadcrumb_pill_label">Parent Level</span>
						</span>
					</a>
											<span class="breadcrumb_divider" aria-hidden="true">
			<svg class="icon icon_angle_right">
				<use href="/images/icons.svg#angle_right" />
			</svg>
		</span>
									</li>
						<li class="breadcrumb_item">
				<span class="breadcrumb_pill">
					<span class="breadcrumb_pill_inner">
						<span class="breadcrumb_pill_label">News Category</span>
					</span>
				</span>
									<span class="breadcrumb_end" aria-hidden="true">
			<svg class="icon icon_angle_down">
				<use href="/images/icons.svg#angle_down" />
			</svg>
		</span>
							</li>
		</ol>
	</nav>
</div>						</div>
					</div>
				</div>
			</div>
		
					<div class="page_intro">
				<div class="fs-row">
					<div class="fs-cell fs-lg-10 fs-xl-9">
						<div class="page_intro_inner">
															<h1 class="page_title" id="page_title" tabindex="-1">News Category</h1>
																						<p class="page_description">Dis facilisis tellus ultricies vestibulum cubilia risus, blandit commodo hac ut posuere ex cursus, class libero imperdiet nullam odio.</p>
													</div>
					</div>
				</div>
			</div>
							</div>
</div>
<div class="full_width_callouts" id="page_content" tabindex="-1" aria-labelledby="page_title">
	
<!-- Filter -->
<div class="filter">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="filter_inner">
				<div class="filter_tabs" role="tablist" aria-label=" Filtering">
					<button class="js-swap filter_tab" role="tab" data-swap-target=".filter_tabpanel_tools" data-swap-group="filter_tabs"  data-swap-active="true"  data-swap-options='{"collapse": false}'>Filter</button>
					<button class="js-swap filter_tab" role="tab" data-swap-target=".filter_tabpanel_search" data-swap-group="filter_tabs"  data-swap-options='{"collapse": false}'>Search</button>
				</div>
				<div class="filter_panels">
					<div class="filter_tabpanel filter_tabpanel_tools" role="tabpanel">
						<form class="filter_tools" action="#" method="get">
															<div class="filter_tool">
									<label class="filter_label" for="filter_tool_label_1">Category</label>
									<div class="filter_tool_select_wrapper">
										<select class="filter_tool_select" id="filter_tool_label_1">
																							<option value="All Categories" >All Categories</option>
																							<option value="Category One"  selected >Category One</option>
																							<option value="Another Category" >Another Category</option>
																					</select>
										<span class="filter_tool_select_icon">
			<svg class="icon icon_expand">
				<use href="/images/icons.svg#expand" />
			</svg>
		</span>
									</div>
								</div>
														<div class="filter_tool">
								<button class="filter_tools_submit" type="submit">Submit</button>
							</div>
						</form>
					</div>
					<div class="filter_tabpanel filter_tabpanel_search" role="tabpanel">
						<form class="filter_search" action="#" method="get">
							<label class="filter_label" for="filter_search_input">Search</label>
							<div class="filter_search_form">
								<input class="filter_search_input" id="filter_search_input" type="search" placeholder="Search by keyword">
								<button class="filter_search_submit" type="submit">
									<span class="filter_search_submit_label">Submit</span>
									<span class="filter_search_submit_icon">
			<svg class="icon icon_search">
				<use href="/images/icons.svg#search" />
			</svg>
		</span>
								</button>
							</div>
						</form>
					</div>
				</div>
									<div class="filter_results">
						<p class="filter_results_description">
							<span class="filter_results_label">10 Results found for:</span>
							<span class="filter_results_category">Category One</span>
						</p>
						<div class="filter_results_action">
							
<a href="page-news-listing.html" class="filter_results_reset_link" >
	<span class="filter_results_reset_link_inner">
					<span class="filter_results_reset_link_label">Reset</span>
							<span class="filter_results_reset_link_icon" aria-hidden="true">
					
			<svg class="icon icon_reset">
				<use href="/images/icons.svg#reset" />
			</svg>
		
				</span>
						</span>
</a>						</div>
					</div>
							</div>
		</div>
	</div>
</div>
<!-- END: Filter -->
	
<!-- News List -->
<div class="news_list">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="news_list_inner">
				<ul class="news_list_rows" id="item_list" aria-label="News Category">
											<li class="news_list_row">
							<div class="news_list_item">
																	<figure class="news_list_item_figure">
										<a class="news_list_item_figure_link" href="page-news-detail.html" aria-label="Read more about In Enim Justo Rhoncus Ut" tabindex="-1">
											
<img class="news_list_item_image" srcset="https://images.fastspot.com/framework/980x654/1 980w, https://images.fastspot.com/framework/740x494/1 740w, https://images.fastspot.com/framework/500x334/1 500w, https://images.fastspot.com/framework/300x200/1 300w" src="https://images.fastspot.com/framework/300x200/1" alt="" loading="lazy" width="300" height="200">
										</a>
									</figure>
																<div class="news_list_item_wrapper">
									<div class="news_list_item_header">
										<h2 class="news_list_item_title">
											
<a href="page-news-detail.html" class="news_list_item_title_link" >
	<span class="news_list_item_title_link_inner">
					<span class="news_list_item_title_link_label">In Enim Justo Rhoncus Ut</span>
						</span>
</a>										</h2>
																					<div class="news_list_item_categories">
												<div class="news_list_item_category_hint">Categories</div>
												<ul class="news_list_item_category_list" aria-label="Categories">
																											<li class="news_list_item_category">
															<a class="news_list_item_category_link" href="page-news-category.html">Category One</a>
														</li>
																									</ul>
											</div>
																			</div>
									<div class="news_list_item_body">
																					<div class="news_list_item_details">
																									<div class="news_list_item_detail news_list_item_date">
														<span class="news_list_item_detail_hint">Published:&nbsp;</span>
														<time class="news_list_item_detail_label" datetime="2019-01-01 17:00:00">January 1, 2019</time>
													</div>
																																					<div class="news_list_item_detail news_list_item_author">
														<span class="news_list_item_detail_hint">- by&nbsp;</span>
														<span class="news_list_item_detail_label">Johnny Appleseed</span>
													</div>
																							</div>
																															<div class="news_list_item_description">
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p>
											</div>
																			</div>
								</div>
							</div>
						</li>
											<li class="news_list_row">
							<div class="news_list_item">
																<div class="news_list_item_wrapper">
									<div class="news_list_item_header">
										<h2 class="news_list_item_title">
											
<a href="page-news-detail.html" class="news_list_item_title_link" >
	<span class="news_list_item_title_link_inner">
					<span class="news_list_item_title_link_label">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</span>
						</span>
</a>										</h2>
																					<div class="news_list_item_categories">
												<div class="news_list_item_category_hint">Categories</div>
												<ul class="news_list_item_category_list" aria-label="Categories">
																											<li class="news_list_item_category">
															<a class="news_list_item_category_link" href="page-news-category.html">Category One</a>
														</li>
																											<li class="news_list_item_category">
															<a class="news_list_item_category_link" href="page-news-category.html">Another Category</a>
														</li>
																									</ul>
											</div>
																			</div>
									<div class="news_list_item_body">
																					<div class="news_list_item_details">
																									<div class="news_list_item_detail news_list_item_date">
														<span class="news_list_item_detail_hint">Published:&nbsp;</span>
														<time class="news_list_item_detail_label" datetime="2019-01-24 17:00:00">January 24, 2019</time>
													</div>
																																					<div class="news_list_item_detail news_list_item_author">
														<span class="news_list_item_detail_hint">- by&nbsp;</span>
														<span class="news_list_item_detail_label">Johnny Appleseed</span>
													</div>
																							</div>
																															<div class="news_list_item_description">
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p>
											</div>
																			</div>
								</div>
							</div>
						</li>
											<li class="news_list_row">
							<div class="news_list_item">
																	<figure class="news_list_item_figure">
										<a class="news_list_item_figure_link" href="page-news-detail.html" aria-label="Read more about In Enim Justo Rhoncus Ut" tabindex="-1">
											
<img class="news_list_item_image" srcset="https://images.fastspot.com/framework/980x654/2 980w, https://images.fastspot.com/framework/740x494/2 740w, https://images.fastspot.com/framework/500x334/2 500w, https://images.fastspot.com/framework/300x200/2 300w" src="https://images.fastspot.com/framework/300x200/2" alt="" loading="lazy" width="300" height="200">
										</a>
									</figure>
																<div class="news_list_item_wrapper">
									<div class="news_list_item_header">
										<h2 class="news_list_item_title">
											
<a href="page-news-detail.html" class="news_list_item_title_link" >
	<span class="news_list_item_title_link_inner">
					<span class="news_list_item_title_link_label">In Enim Justo Rhoncus Ut</span>
						</span>
</a>										</h2>
																					<div class="news_list_item_categories">
												<div class="news_list_item_category_hint">Categories</div>
												<ul class="news_list_item_category_list" aria-label="Categories">
																											<li class="news_list_item_category">
															<a class="news_list_item_category_link" href="page-news-category.html">Category One</a>
														</li>
																									</ul>
											</div>
																			</div>
									<div class="news_list_item_body">
																					<div class="news_list_item_details">
																									<div class="news_list_item_detail news_list_item_date">
														<span class="news_list_item_detail_hint">Published:&nbsp;</span>
														<time class="news_list_item_detail_label" datetime="2019-01-01 17:00:00">January 1, 2019</time>
													</div>
																																					<div class="news_list_item_detail news_list_item_author">
														<span class="news_list_item_detail_hint">- by&nbsp;</span>
														<span class="news_list_item_detail_label">Johnny Appleseed</span>
													</div>
																							</div>
																															<div class="news_list_item_description">
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p>
											</div>
																			</div>
								</div>
							</div>
						</li>
											<li class="news_list_row">
							<div class="news_list_item">
																	<figure class="news_list_item_figure">
										<a class="news_list_item_figure_link" href="page-news-detail.html" aria-label="Read more about Lorem ipsum dolor sit amet, consectetuer adipiscing elit" tabindex="-1">
											
<img class="news_list_item_image" srcset="https://images.fastspot.com/framework/980x654/3 980w, https://images.fastspot.com/framework/740x494/3 740w, https://images.fastspot.com/framework/500x334/3 500w, https://images.fastspot.com/framework/300x200/3 300w" src="https://images.fastspot.com/framework/300x200/3" alt="" loading="lazy" width="300" height="200">
										</a>
									</figure>
																<div class="news_list_item_wrapper">
									<div class="news_list_item_header">
										<h2 class="news_list_item_title">
											
<a href="page-news-detail.html" class="news_list_item_title_link" >
	<span class="news_list_item_title_link_inner">
					<span class="news_list_item_title_link_label">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</span>
						</span>
</a>										</h2>
																					<div class="news_list_item_categories">
												<div class="news_list_item_category_hint">Categories</div>
												<ul class="news_list_item_category_list" aria-label="Categories">
																											<li class="news_list_item_category">
															<a class="news_list_item_category_link" href="page-news-category.html">Category One</a>
														</li>
																									</ul>
											</div>
																			</div>
									<div class="news_list_item_body">
																					<div class="news_list_item_details">
																									<div class="news_list_item_detail news_list_item_date">
														<span class="news_list_item_detail_hint">Published:&nbsp;</span>
														<time class="news_list_item_detail_label" datetime="2019-01-24 17:00:00">January 24, 2019</time>
													</div>
																																					<div class="news_list_item_detail news_list_item_author">
														<span class="news_list_item_detail_hint">- by&nbsp;</span>
														<span class="news_list_item_detail_label">Johnny Appleseed</span>
													</div>
																							</div>
																															<div class="news_list_item_description">
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p>
											</div>
																			</div>
								</div>
							</div>
						</li>
											<li class="news_list_row">
							<div class="news_list_item">
																<div class="news_list_item_wrapper">
									<div class="news_list_item_header">
										<h2 class="news_list_item_title">
											
<a href="page-news-detail.html" class="news_list_item_title_link" >
	<span class="news_list_item_title_link_inner">
					<span class="news_list_item_title_link_label">In Enim Justo Rhoncus Ut</span>
						</span>
</a>										</h2>
																					<div class="news_list_item_categories">
												<div class="news_list_item_category_hint">Categories</div>
												<ul class="news_list_item_category_list" aria-label="Categories">
																											<li class="news_list_item_category">
															<a class="news_list_item_category_link" href="page-news-category.html">Category One</a>
														</li>
																									</ul>
											</div>
																			</div>
									<div class="news_list_item_body">
																					<div class="news_list_item_details">
																									<div class="news_list_item_detail news_list_item_date">
														<span class="news_list_item_detail_hint">Published:&nbsp;</span>
														<time class="news_list_item_detail_label" datetime="2019-01-01 17:00:00">January 1, 2019</time>
													</div>
																																					<div class="news_list_item_detail news_list_item_author">
														<span class="news_list_item_detail_hint">- by&nbsp;</span>
														<span class="news_list_item_detail_label">Johnny Appleseed</span>
													</div>
																							</div>
																															<div class="news_list_item_description">
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p>
											</div>
																			</div>
								</div>
							</div>
						</li>
											<li class="news_list_row">
							<div class="news_list_item">
																	<figure class="news_list_item_figure">
										<a class="news_list_item_figure_link" href="page-news-detail.html" aria-label="Read more about Lorem ipsum dolor sit amet, consectetuer adipiscing elit" tabindex="-1">
											
<img class="news_list_item_image" srcset="https://images.fastspot.com/framework/980x654/3 980w, https://images.fastspot.com/framework/740x494/3 740w, https://images.fastspot.com/framework/500x334/3 500w, https://images.fastspot.com/framework/300x200/3 300w" src="https://images.fastspot.com/framework/300x200/3" alt="" loading="lazy" width="300" height="200">
										</a>
									</figure>
																<div class="news_list_item_wrapper">
									<div class="news_list_item_header">
										<h2 class="news_list_item_title">
											
<a href="page-news-detail.html" class="news_list_item_title_link" >
	<span class="news_list_item_title_link_inner">
					<span class="news_list_item_title_link_label">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</span>
						</span>
</a>										</h2>
																					<div class="news_list_item_categories">
												<div class="news_list_item_category_hint">Categories</div>
												<ul class="news_list_item_category_list" aria-label="Categories">
																											<li class="news_list_item_category">
															<a class="news_list_item_category_link" href="page-news-category.html">Category One</a>
														</li>
																											<li class="news_list_item_category">
															<a class="news_list_item_category_link" href="page-news-category.html">Another Category</a>
														</li>
																									</ul>
											</div>
																			</div>
									<div class="news_list_item_body">
																					<div class="news_list_item_details">
																									<div class="news_list_item_detail news_list_item_date">
														<span class="news_list_item_detail_hint">Published:&nbsp;</span>
														<time class="news_list_item_detail_label" datetime="2019-01-24 17:00:00">January 24, 2019</time>
													</div>
																																					<div class="news_list_item_detail news_list_item_author">
														<span class="news_list_item_detail_hint">- by&nbsp;</span>
														<span class="news_list_item_detail_label">Johnny Appleseed</span>
													</div>
																							</div>
																															<div class="news_list_item_description">
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p>
											</div>
																			</div>
								</div>
							</div>
						</li>
									</ul>
				<div class="news_list_pagination">
					
<!-- Pagination -->
<div class="pagination">
	<nav class="pagination_nav" aria-label="News Pagination">
		<a class="pagination_arrow pagination_arrow_left pagination_arrow_disabled" href="#">
			<span class="pagination_arrow_icon">
			<svg class="icon icon_caret_left">
				<use href="/images/icons.svg#caret_left" />
			</svg>
		</span>
			<span class="pagination_arrow_label">Previous Page</span>
		</a>
		<a class="pagination_arrow pagination_arrow_right" href="#">
			<span class="pagination_arrow_label">Next Page</span>
			<span class="pagination_arrow_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
		</a>
	</nav>
	<form class="pagination_form" action="#" method="get">
		<div class="pagination_form_inner">
			<label class="pagination_form_label" for="pagination_form_select">Page</label>
			<div class="pagination_form_select_wrapper">
				<select class="pagination_form_select" name="page" id="pagination_form_select" aria-label="Select Page Number">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="16">16</option>
											<option value="17">17</option>
											<option value="18">18</option>
											<option value="19">19</option>
											<option value="20">20</option>
											<option value="21">21</option>
											<option value="22">22</option>
											<option value="23">23</option>
											<option value="24">24</option>
											<option value="25">25</option>
											<option value="26">26</option>
											<option value="27">27</option>
											<option value="28">28</option>
											<option value="29">29</option>
											<option value="30">30</option>
											<option value="31">31</option>
											<option value="32">32</option>
											<option value="33">33</option>
											<option value="34">34</option>
											<option value="35">35</option>
											<option value="36">36</option>
											<option value="37">37</option>
											<option value="38">38</option>
											<option value="39">39</option>
											<option value="40">40</option>
											<option value="41">41</option>
											<option value="42">42</option>
											<option value="43">43</option>
											<option value="44">44</option>
											<option value="45">45</option>
											<option value="46">46</option>
											<option value="47">47</option>
											<option value="48">48</option>
											<option value="49">49</option>
											<option value="50">50</option>
									</select>
				<span class="pagination_form_select_icon">
			<svg class="icon icon_expand">
				<use href="/images/icons.svg#expand" />
			</svg>
		</span>
			</div>
			<span class="pagination_form_suffix">of 50</span>
			<button class="pagination_form_button" type="submit" aria-label="View Page">Go</button>
		</div>
	</form>
</div>
<!-- END: Pagination -->				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: News List --></div>
