

<!-- Page Content -->
<div class="page_content">
	<!-- Full Width Callouts -->
	<div class="full_width_callouts">
		

<!-- Spotlight -->
<div class="spotlight">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="spotlight_inner">
				<div class="spotlight_text">
					<h2 class="spotlight_title">
													<span class="spotlight_title_row">Partner.</span>
													<span class="spotlight_title_row">Invest.</span>
													<span class="spotlight_title_row">Monetize.</span>
											</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="spotlight_media">
		<img class="spotlight_image" src="../../images/dark-fiber.png" alt="dark fiber" />
		<div class="spotlight_bubbles" aria-hidden="true">
							<span class="spotlight_bubble spotlight_bubble_foreground"></span>
							<span class="spotlight_bubble spotlight_bubble_foreground"></span>
							<span class="spotlight_bubble spotlight_bubble_foreground"></span>
							<span class="spotlight_bubble spotlight_bubble_foreground"></span>
							<span class="spotlight_bubble spotlight_bubble_foreground"></span>
							<span class="spotlight_bubble spotlight_bubble_foreground"></span>
							<span class="spotlight_bubble spotlight_bubble_foreground"></span>
							<span class="spotlight_bubble spotlight_bubble_foreground"></span>
							<span class="spotlight_bubble spotlight_bubble_foreground"></span>
							<span class="spotlight_bubble spotlight_bubble_foreground"></span>
							<span class="spotlight_bubble spotlight_bubble_foreground"></span>
					</div>
		<div class="spotlight_bubbles" aria-hidden="true">
							<span class="spotlight_bubble spotlight_bubble_background"></span>
							<span class="spotlight_bubble spotlight_bubble_background"></span>
							<span class="spotlight_bubble spotlight_bubble_background"></span>
							<span class="spotlight_bubble spotlight_bubble_background"></span>
							<span class="spotlight_bubble spotlight_bubble_background"></span>
							<span class="spotlight_bubble spotlight_bubble_background"></span>
							<span class="spotlight_bubble spotlight_bubble_background"></span>
							<span class="spotlight_bubble spotlight_bubble_background"></span>
							<span class="spotlight_bubble spotlight_bubble_background"></span>
							<span class="spotlight_bubble spotlight_bubble_background"></span>
							<span class="spotlight_bubble spotlight_bubble_background"></span>
					</div>
	</div>
</div>
<!-- END: Spotlight -->
		

<!-- Text Block -->
<div class="text_block">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="text_block_inner">
				Over $1 billion in digital infrastructure assets since 2021.
			</div>
		</div>
	</div>
</div>
<!-- END: Text Block -->
		

<!-- Text Block -->
<div class="text_image_block">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="text_image_block_inner">
				<div class="text_image_block_main">
					<h2>What we do</h2><p>Critical Infrastructure Partners (CIP) is a private investment company focused on telecommunication infrastructure with an emphasis on middle and long-haul dark fiber optic routes throughout North America. </p><p>We partner with best-in-class telecom providers and hyperscale users to provide best-in-class solutions to their clients and end users.</p>
				</div>
				<div class="text_image_block_media">
					<img class="text_image_block_image" src="../../images/orange-fiber.png" alt="orange fiber" />
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Text Block -->	</div>
	<!-- END: Full Width Callouts -->
</div>

