


<div class="page_header">
	<div class="page_header_inner">
					<div class="page_breadcrumb">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="page_breadcrumb_inner">
							

<div class="breadcrumb">
	<nav class="breadcrumb_nav" aria-labelledby="breadcrumb_nav_title">
		<div class="breadcrumb_nav_header">
			<h2 class="breadcrumb_nav_title" id="breadcrumb_nav_title">You are here:</h2>
		</div>
		<ol class="breadcrumb_list" aria-labelledby="breadcrumb_nav_title">
			<li class="breadcrumb_item breadcrumb_item_home">
				<a class="breadcrumb_pill breadcrumb_pill_link" href="page-home.html">
					<span class="breadcrumb_pill_inner">
													<span class="breadcrumb_pill_icon" aria-hidden="true">
			<svg class="icon icon_home">
				<use href="/images/icons.svg#home" />
			</svg>
		</span>
												<span class="breadcrumb_pill_label">Home</span>
					</span>
				</a>
									<span class="breadcrumb_divider" aria-hidden="true">
			<svg class="icon icon_angle_right">
				<use href="/images/icons.svg#angle_right" />
			</svg>
		</span>
							</li>
							<li class="breadcrumb_item">
					<a class="breadcrumb_pill breadcrumb_pill_link" href="#">
						<span class="breadcrumb_pill_inner">
							<span class="breadcrumb_pill_label">Navigation Level</span>
						</span>
					</a>
											<span class="breadcrumb_divider" aria-hidden="true">
			<svg class="icon icon_angle_right">
				<use href="/images/icons.svg#angle_right" />
			</svg>
		</span>
									</li>
							<li class="breadcrumb_item">
					<a class="breadcrumb_pill breadcrumb_pill_link" href="#">
						<span class="breadcrumb_pill_inner">
							<span class="breadcrumb_pill_label">Parent Level</span>
						</span>
					</a>
											<span class="breadcrumb_divider" aria-hidden="true">
			<svg class="icon icon_angle_right">
				<use href="/images/icons.svg#angle_right" />
			</svg>
		</span>
									</li>
						<li class="breadcrumb_item">
				<span class="breadcrumb_pill">
					<span class="breadcrumb_pill_inner">
						<span class="breadcrumb_pill_label">News Detail</span>
					</span>
				</span>
									<span class="breadcrumb_end" aria-hidden="true">
			<svg class="icon icon_angle_down">
				<use href="/images/icons.svg#angle_down" />
			</svg>
		</span>
							</li>
		</ol>
	</nav>
</div>						</div>
					</div>
				</div>
			</div>
		
					<div class="page_intro">
				<div class="fs-row">
					<div class="fs-cell fs-lg-10 fs-xl-9">
						<div class="page_intro_inner">
															<h1 class="page_title" id="page_title" tabindex="-1">News Detail</h1>
																						<p class="page_description">Dis facilisis tellus ultricies vestibulum cubilia risus, blandit commodo hac ut posuere ex cursus, class libero imperdiet nullam odio.</p>
													</div>
					</div>
				</div>
			</div>
							</div>
</div>
<article class="news_entry">
	<script type="application/ld+json">
		{
			'@context': 'http://schema.org',
			'@type': 'NewsArticle',
			'url': '#',
			'publisher': {
				'@type': 'Organization',
				'name': 'Framework'
			},
			'headline': 'News Detail',
			'mainEntityOfPage': '#',
			'image': '1',
			'datePublished': '2017-03-20T20:30:54+00:00',
			'author': 'person',
			'description': 'Dis facilisis tellus ultricies vestibulum cubilia risus, blandit commodo hac ut posuere ex cursus, class libero imperdiet nullam odio.'
		}
	</script>

	<!-- Page Feature -->
	<div class="page_feature" id="page_content" tabindex="-1" aria-labelledby="page_title">
		
<!-- News Meta -->
<div class="news_meta" id="meta" data-type="news" data-category="Category 1">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="news_meta_inner">
				<div class="news_meta_body">
											<div class="news_meta_details">
															<div class="news_meta_detail news_meta_date">
									<span class="news_meta_detail_hint">Published:&nbsp;</span>
									<time class="news_meta_detail_label" datetime="2019-01-01 17:00:00">January 1, 2019</time>
								</div>
																						<div class="news_meta_detail news_meta_author">
									<span class="news_meta_detail_hint">- by&nbsp;</span>
									<span class="news_meta_detail_label">Author</span>
								</div>
													</div>
																<div class="news_meta_categories_block">
							<span class="news_meta_categories_icon">
			<svg class="icon icon_label">
				<use href="/images/icons.svg#label" />
			</svg>
		</span>
							<ul class="news_meta_categories" aria-label="Categories">
																	<li class="news_meta_category">
										<a class="news_meta_category_link" href="page-news-category.html">Category 1</a>
									</li>
															</ul>
						</div>
									</div>
				<div class="news_meta_share">
					
<div class="js-share-tools share_tools direction_left">
	<div class="share_tools_header">
		<h2 class="share_tools_title">Share Options</h2>
		<button class="js-share-tools-toggle share_tools_toggle" data-swap-target=".js-share-tools">
			<span class="share_tools_toggle_inner">
								<span class="share_tools_toggle_label">Share This</span>
			</span>
		</button>
	</div>
	<ul class="js-share-tools-list share_tools_list" aria-label="Share Options">
					<li class="js-share-tool-item share_tool_item">
				<a class="js-share-tool js-share-twitter share_tool" href="#" target="_blank" rel="noopener">
					<span class="share_tool_icon">
			<svg class="icon icon_twitter">
				<use href="/images/icons.svg#twitter" />
			</svg>
		</span>
					<span class="share_tool_label">Share to Twitter</span>
				</a>
			</li>
					<li class="js-share-tool-item share_tool_item">
				<a class="js-share-tool js-share-facebook share_tool" href="#" target="_blank" rel="noopener">
					<span class="share_tool_icon">
			<svg class="icon icon_facebook">
				<use href="/images/icons.svg#facebook" />
			</svg>
		</span>
					<span class="share_tool_label">Share to Facebook</span>
				</a>
			</li>
					<li class="js-share-tool-item share_tool_item">
				<a class="js-share-tool js-share-linkedin share_tool" href="#" target="_blank" rel="noopener">
					<span class="share_tool_icon">
			<svg class="icon icon_linkedin">
				<use href="/images/icons.svg#linkedin" />
			</svg>
		</span>
					<span class="share_tool_label">Share to Linkedin</span>
				</a>
			</li>
			</ul>
</div>				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: News Meta -->	</div>
	<!-- END: Page Feature -->

	<!-- Page Content -->
	<div class="page_content">
		<div class="fs-row">
			<div class="fs-cell">
								<figure class="news_entry_figure">
					
<img class="news_entry_image" srcset="https://images.fastspot.com/framework/1440x960/1 1440w, https://images.fastspot.com/framework/1220x814/1 1220w, https://images.fastspot.com/framework/980x654/1 980w, https://images.fastspot.com/framework/740x494/1 740w, https://images.fastspot.com/framework/500x334/1 500w, https://images.fastspot.com/framework/300x200/1 300w" src="https://images.fastspot.com/framework/300x200/1" alt="" loading="eager" width="300" height="200">
				</figure>
				
				<!-- WYSIWYG -->
				<div class="typography">
					<h2>Lorem Ipsum</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. <a href="#">Nulla consequat</a> massa quis enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem</p>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Quis enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem</p>
				</div>
				<!-- END: WYSIWYG -->
			</div>
		</div>
	</div>
	<!-- END: Page Content -->

</article>
